<main class="bg-gray-950">
  <!-- hero section -->
  <section id="circle_hero_section" class="bg-[url('abstract-image-05-opacity.png')] bg-cover bg-center flex justify-center">
    <div class="mx-2 flex flex-col items-center justify-center max-w-4xl text-center">
      <div class="max-w-4xl px-6 pt-12 pb-8 sm:py-16 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-4xl font-medium text-white sm:text-5xl"><%= phrase('circle_hero-title') %></h2>
          <p class="mx-auto mt-6 text-base font-normal leading-8 text-white"><%= phrase('circle_hero-subtitle') %></p>
        </div>
      </div>

      <div class="mb-20 flex flex-col xs:flex-row items-center justify-center">
        <a href="https://app.ruby.ci/users/auth/github" class="rounded-full w-48 xs:w-auto bg-gradient-to-b from-blue-500 to-[#7953AA] px-4 py-2 sm:px-8 sm:py-4 text-base text-white text-center hover:opacity-80 transition-all duration-300 ease-in-out">
          <%= phrase('btn-type1-getstarted-text') %>
        </a>
      </div>
      <%=image_tag 'compare-hero-image.png', class: "-mb-52", width: "1176", height: "616", alt: ""%>
    </div>

  </section>
  <!-- end hero section   -->
  <section>
    <div class="mx-auto pb-32 pt-80 max-w-6xl text-center">
      <p class="text-white text-xl font-normal">
       <%= phrase('circle_hero_why_circle-content1') %>
      </p>
      <p class="text-white text-xl font-normal mt-8">
        <%= phrase('circle_hero_why_circle-content2') %>
      </p>
    </div>
  </section>
  <section id="circle_why_comparison">
    <div class="mx-auto pb-16 max-w-7xl">
      <div class="mx-2 flex flex-col items-center justify-center">
        <div class="px-6 pt-12 pb-10 sm:py-16 sm:px-6 lg:px-8">
          <div class="text-center">
            <h2 class="text-3xl font-medium text-white sm:text-4xl"><%= phrase('circle_why_alternative-title') %></h2>
          </div>
        </div>
        <div class="relative w-full grid grid-cols-1 lg:grid-cols-2 gap-y-8 gap-x-8">
          <div class="bg-gray-900 rounded-2xl p-2.5 xs:p-8 flex flex-col text-center">
            <div class="flex justify-center mb-5">
              <%=image_tag 'yellow-circle.svg', class: "", width: "68", height: "68", alt: "Logo"%>
            </div>
            <h2 class="mb-5 text-2xl sm:text-3xl text-white font-medium">
              <%= phrase('circle_why_not_circle-header') %>
            </h2>
            <p class="text-white text-xl font-normal">
              <%= phrase('circle_why_not_circle-content') %>
            </p>
          </div>
          <div class="bg-gray-900 rounded-2xl p-2.5 xs:p-8 flex flex-col text-center">
            <div class="flex justify-center mb-5">
              <%=image_tag 'purple-circle.svg', class: "", width: "68", height: "68", alt: "Logo"%>
            </div>
            <h2 class="mb-5 text-2xl sm:text-3xl text-white font-medium">
              <%= phrase('circle_why_rubyci-header') %>
            </h2>
            <p class="text-white text-xl font-normal">
              <%= phrase('circle_why_rubyci-content') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="compare-section" class="bg-gray-950">
    <div class="mx-auto max-w-5xl pt-12 pb-10 sm:py-16 px-4">
      <div class="flex flex-col items-center">
        <span class="pb-4">
          <%=image_tag 'logo-linear.svg', class: "h-8", width: "45", height: "32", alt: "Logo"%>
        </span>
        <h2 class="text-3xl font-medium text-white sm:text-4xl"><%= phrase('vs_circle_compare_table-title') %></h2>
        <p class="mx-auto mt-6 text-center text-base font-normal leading-8 text-white"><%= phrase('vs_circle_compare_table-subtitle') %></p>
      </div>
    </div>
    <div class="mx-auto px-3 md:px-6 lg:px-8 -mb-28 overflow-auto lg:overflow-hidden">
      <div class="relative z-10 mx-auto max-w-5xl px-6 pb-8 rounded-3xl bg-gray-900">
        <div class="mt-12 hidden lg:block">
          <div class="relative">
            <table class="w-full z-10 relative">
              <caption class="sr-only">
                RubyCI vs CircleCI
              </caption>
              <colgroup>
                <col class="w-1/3">
                <col class="w-1/3">
                <col class="w-1/3">
              </colgroup>
              <thead>
                <tr>
                  <td></td>
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8 pb-5">
                    <div class="flex items-center justify-center gap-1">
                      <%= image_tag 'circleci_logo.png', class: 'object-cover', width: "118", height: "25", alt: '' %>
                    </div>
                  </th>
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8 pb-5">
                    <div class="flex items-center justify-center gap-1">
                      <%= image_tag 'logo-rubyci-new.png', class: 'object-cover', width: "130", height: "32", alt: '' %>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-t-4 border-slate-800">
                  <th scope="row" class="py-7 pl-12 text-base font-normal leading-7 text-left text-white">
                    Fixed price for whole Dev Team <br> (10 members)
                  </th>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'xmark.svg', class: 'h-5 w-6', alt: 'xmark' %>
                    </div>
                  </td>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'checkmark.svg', class: 'h-4 w-5', alt: 'checkmark' %>
                    </div>
                  </td>
                </tr>

                <tr class="border-t border-slate-800">
                  <th scope="row" class="py-7 pl-12 text-base font-normal leading-7 text-left text-white">
                    Automated configuration (2Min)
                  </th>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'xmark.svg', class: 'h-5 w-6', alt: 'xmark' %>
                    </div>
                  </td>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'checkmark.svg', class: 'h-4 w-5', alt: 'checkmark' %>
                    </div>
                  </td>
                </tr>

                <tr class="border-t border-slate-800">
                  <th scope="row" class="py-7 pl-12 text-base font-normal leading-7 text-left text-white">
                    Error tracking on the same place
                  </th>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'xmark.svg', class: 'h-5 w-6', alt: 'xmark' %>
                    </div>
                  </td>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'checkmark.svg', class: 'h-4 w-5', alt: 'checkmark' %>
                    </div>
                  </td>
                </tr>

                <tr class="border-t border-slate-800">
                  <th scope="row" class="py-4 pl-12 text-base leading-6 font-normal text-left text-white">
                    Spinning up new environments for developers
                  </th>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'xmark.svg', class: 'h-5 w-6', alt: 'xmark' %>
                    </div>
                  </td>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'checkmark.svg', class: 'h-4 w-5', alt: 'checkmark' %>
                    </div>
                  </td>
                </tr>

                <tr class="border-t border-slate-800">
                  <th scope="row" class="py-7 pl-12 text-base font-normal leading-7 text-left text-white">
                    Native Integration with plygins
                  </th>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'xmark.svg', class: 'h-5 w-6', alt: 'xmark' %>
                    </div>
                  </td>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'checkmark.svg', class: 'h-4 w-5', alt: 'checkmark' %>
                    </div>
                  </td>
                </tr>

                <tr class="border-t border-slate-800">
                  <th scope="row" class="py-7 pl-12 text-base font-normal leading-7 text-left text-white">
                    Automated transition (2Min)
                  </th>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'xmark.svg', class: 'h-5 w-6', alt: 'xmark' %>
                    </div>
                  </td>
                  <td class="text-white text-center text-lg font-normal">
                    <div class="flex flex-col justify-center items-center self-stretch">
                      <%= image_tag 'checkmark.svg', class: 'h-4 w-5', alt: 'checkmark' %>
                    </div>
                  </td>
                </tr>
                <tr class="border-t-4 border-slate-800">
                  <th class="py-10 pl-12 text-lg font-normal leading-7 text-left text-white"></th>
                  <td></td>
                  <td class="text-center">
                    <a href="https://app.ruby.ci/users/auth/github" class="bg-gradient-to-b from-blue-500 to-[#7953AA] px-6 py-3 rounded-full hover:bg-gradient-to-t">
                      <span class="font-medium text-sm text-center text-white"><%= phrase('btn-type1-getstarted-text') %></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="rubyci_vs_circle_reasons" class="scroll-mt-40 bg-gradient-to-b pt-40 from-slate-900 to-gray-950">
    <div class="mx-auto max-w-7xl px-6 pt-12 pb-10 sm:py-16 sm:px-6 lg:px-8">
      <div class="flex flex-col items-center">
        <span class="pb-4">
          <%=image_tag 'logo-linear.svg', class: "h-8", width: "45", height: "32", alt: "Logo"%>
        </span>
        <h2 class="text-3xl font-medium text-white sm:text-4xl"><%= phrase('vs_circle_why_better-title') %></h2>
      </div>
    </div>
    <div class="overflow-hidden pb-[5.5rem] pt-9">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
          <div class="sm:px-6 lg:px-0 order-last lg:order-first">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto max-w-fit sm:mx-0">
                <%=image_tag "feature-1.webp", alt: "Product screenshot", width: "623", height: "464", class: "relative mx-auto z-[1]"%>
              </div>
            </div>
          </div>
          <div class="px-6 lg:px-0 h-full">
            <div class="mx-auto lg:mx-0 flex flex-col justify-between h-full">
              <div class="w-fit rounded-2xl px-3 py-2 sm:py-3 mt-3.5 text-sm font-semibold text-white bg-slate-800">
                Reason #1
              </div>
              <div>
                <p class="mt-2 text-3xl font-medium tracking-tight text-white sm:text-4xl"><%= phrase('vs_circle_reason1_title') %></p>
                <ol class="space-y-3 pt-8">
                  <li class="text-white flex text-lg pb-6 items-start">
                    <%= phrase('vs_circle_reason1_description') %>
                  </li>
                </ol>
              </div>
              <a href="https://app.ruby.ci/users/auth/github" class="rounded-full w-fit bg-gradient-to-b from-blue-500 to-[#7953AA] px-4 py-2 sm:px-8 sm:py-4 mb-4 text-base text-white hover:opacity-80 transition-all duration-300 ease-in-out"><%= phrase('btn-type1-getstarted-text') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-hidden py-[5.5rem]">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
          <div class="sm:px-6 lg:px-0 order-last">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto max-w-fit sm:mx-0">
                <%=image_tag "feature-1.webp", alt: "Product screenshot", width: "623", height: "464", class: "relative mx-auto z-[1]"%>
              </div>
            </div>
          </div>
          <div class="px-6 lg:px-0 h-full">
            <div class="mx-auto lg:mx-0 flex flex-col justify-between h-full">
              <div class="w-fit rounded-2xl px-3 py-2 sm:py-3 mt-3.5 text-sm font-semibold text-white bg-slate-800">
                Reason #2
              </div>
              <div>
                <p class="mt-2 text-3xl font-medium tracking-tight text-white sm:text-4xl"><%= phrase('vs_circle_reason2_title') %></p>
                <ol class="space-y-3 pt-8">
                  <li class="text-white flex text-lg pb-6 items-start">
                    <%= phrase('vs_circle_reason2_description') %>
                  </li>
                </ol>
              </div>
              <a href="https://app.ruby.ci/users/auth/github" class="rounded-full w-fit bg-gradient-to-b from-blue-500 to-[#7953AA] px-4 py-2 sm:px-8 sm:py-4 mb-4 text-base text-white hover:opacity-80 transition-all duration-300 ease-in-out"><%= phrase('btn-type1-getstarted-text') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-hidden py-[5.5rem]">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
          <div class="sm:px-6 lg:px-0 order-last lg:order-first">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto max-w-fit sm:mx-0">
                <%=image_tag "feature-1.webp", alt: "Product screenshot", width: "623", height: "464", class: "relative mx-auto z-[1]"%>
              </div>
            </div>
          </div>
          <div class="px-6 lg:px-0 h-full">
            <div class="mx-auto lg:mx-0 flex flex-col justify-between h-full">
              <div class="w-fit rounded-2xl px-3 py-2 sm:py-3 mt-3.5 text-sm font-semibold text-white bg-slate-800">
                Reason #3
              </div>
              <div>
                <p class="mt-2 text-3xl font-medium tracking-tight text-white sm:text-4xl"><%= phrase('vs_circle_reason3_title') %></p>
                <ol class="space-y-3 pt-8">
                  <li class="text-white flex text-lg pb-6 items-start">
                    <%= phrase('vs_circle_reason3_description') %>
                  </li>
                </ol>
              </div>
              <a href="https://app.ruby.ci/users/auth/github" class="rounded-full w-fit bg-gradient-to-b from-blue-500 to-[#7953AA] px-4 py-2 sm:px-8 sm:py-4 mb-4 text-base text-white hover:opacity-80 transition-all duration-300 ease-in-out"><%= phrase('btn-type1-getstarted-text') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="circle_save_comparison">
    <div class="mx-auto pb-16 max-w-7xl">
      <div class="h-px bg-slate-800"></div>
      <div class="mx-2 flex flex-col items-center justify-center">
        <div class="px-6 pt-12 pb-10 sm:py-16 sm:px-6 lg:px-8">
          <div class="text-center">
            <h2 class="text-3xl font-medium text-white sm:text-4xl"><%= phrase('circle_save_comparison-title') %></h2>
            <p class="mx-auto mt-6 text-base font-normal leading-8 text-white"><%= phrase('circle_save_comparison-subtitle') %></p>
          </div>
        </div>
        <div class="relative w-full grid grid-cols-1 lg:grid-cols-2 gap-y-8 gap-x-8">
          <div class="relative bg-slate-900 rounded-2xl ring ring-1 ring-white p-2.5 xs:p-8 flex flex-col">
            <div class="absolute right-12 bottom-8 opacity-5">
              <%=image_tag 'ruby-blue.svg', class: "", width: "197", height: "145", alt: "Logo"%>
            </div>
            <h2 class="flex items-center">
              <%=image_tag 'logo-linear.svg', class: "-ml-1 h-6 sm:h-7", width: "45", height: "32", alt: "Logo"%>
              <span class="ml-2 text-2xl sm:text-3xl text-white font-semibold">RUBY<b>CI</b></span>
            </h2>
            <p class="text-emerald-500 text-xl sm:text-2xl font-semibold sm:pl-12">$120/year for 10 people</p>
            <ul class="space-y-4 pt-6 sm:pl-12 text-white text-md xs:text-lg sm:text-xl font-normal">
              <li class="flex items-center">
                <svg class="mr-2 h-4 w-4" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.875 1.75C15.875 2.06641 15.7344 2.34766 15.5234 2.55859L6.52344 11.5586C6.3125 11.7695 6.03125 11.875 5.75 11.875C5.43359 11.875 5.15234 11.7695 4.94141 11.5586L0.441406 7.05859C0.230469 6.84766 0.125 6.56641 0.125 6.25C0.125 5.61719 0.617188 5.125 1.25 5.125C1.53125 5.125 1.8125 5.26562 2.02344 5.47656L5.75 9.16797L13.9414 0.976562C14.1523 0.765625 14.4336 0.625 14.75 0.625C15.3477 0.625 15.875 1.11719 15.875 1.75Z" fill="#22C55E"/>
                </svg>
                <p>Access to all new features</p>
              </li>
              <li class="flex items-center">
                <svg class="mr-2 h-4 w-4" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.875 1.75C15.875 2.06641 15.7344 2.34766 15.5234 2.55859L6.52344 11.5586C6.3125 11.7695 6.03125 11.875 5.75 11.875C5.43359 11.875 5.15234 11.7695 4.94141 11.5586L0.441406 7.05859C0.230469 6.84766 0.125 6.56641 0.125 6.25C0.125 5.61719 0.617188 5.125 1.25 5.125C1.53125 5.125 1.8125 5.26562 2.02344 5.47656L5.75 9.16797L13.9414 0.976562C14.1523 0.765625 14.4336 0.625 14.75 0.625C15.3477 0.625 15.875 1.11719 15.875 1.75Z" fill="#22C55E"/>
                </svg>
                <p>Live customer support</p>
              </li>
              <li class="flex items-center">
                <svg class="mr-2 h-4 w-4" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.875 1.75C15.875 2.06641 15.7344 2.34766 15.5234 2.55859L6.52344 11.5586C6.3125 11.7695 6.03125 11.875 5.75 11.875C5.43359 11.875 5.15234 11.7695 4.94141 11.5586L0.441406 7.05859C0.230469 6.84766 0.125 6.56641 0.125 6.25C0.125 5.61719 0.617188 5.125 1.25 5.125C1.53125 5.125 1.8125 5.26562 2.02344 5.47656L5.75 9.16797L13.9414 0.976562C14.1523 0.765625 14.4336 0.625 14.75 0.625C15.3477 0.625 15.875 1.11719 15.875 1.75Z" fill="#22C55E"/>
                </svg>
                <p>Custom forms</p>
              </li>
              <li class="flex items-center">
                <svg class="mr-2 h-4 w-4" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.875 1.75C15.875 2.06641 15.7344 2.34766 15.5234 2.55859L6.52344 11.5586C6.3125 11.7695 6.03125 11.875 5.75 11.875C5.43359 11.875 5.15234 11.7695 4.94141 11.5586L0.441406 7.05859C0.230469 6.84766 0.125 6.56641 0.125 6.25C0.125 5.61719 0.617188 5.125 1.25 5.125C1.53125 5.125 1.8125 5.26562 2.02344 5.47656L5.75 9.16797L13.9414 0.976562C14.1523 0.765625 14.4336 0.625 14.75 0.625C15.3477 0.625 15.875 1.11719 15.875 1.75Z" fill="#22C55E"/>
                </svg>
                <p>14-day money back guarantee</p>
              </li>
            </ul>
          </div>
          <div class="absolute z-10 w-24 bg-white rounded-[35px] p-2.5 xs:p-5 text-center text-xl sm:text-2xl font-semibold top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            VS
          </div>
          <div class="bg-slate-950 rounded-2xl ring ring-1 ring-slate-700 p-2 xs:p-8 flex flex-col">
            <h2 class="flex items-center">
              <%=image_tag 'logo-circleci.svg', class: "-ml-1 h-6 sm:h-7", width: "45", height: "32", alt: "Logo"%>
              <span class="ml-2 text-2xl sm:text-3xl text-white font-semibold">CIRCLE<b>CI</b></span>
            </h2>
            <p class="text-white text-xl sm:text-2xl font-semibold sm:pl-12">$250/year for 10 people</p>
            <ul class="space-y-4 pt-6 sm:pl-12 text-white text-md xs:text-lg sm:text-xl font-normal">
              <li class="flex items-center">
                <%= image_tag 'xmark-rose.svg', class: 'mr-2 h-4 w-4', alt: 'xmark' %>
                <p>Features depend on the plan purchased</p>
              </li>
              <li class="flex items-center">
                <%= image_tag 'xmark-rose.svg', class: 'mr-2 h-4 w-4', alt: 'xmark' %>
                <p>Slower response time from support</p>
              </li>
              <li class="flex items-center">
                <%= image_tag 'xmark-rose.svg', class: 'mr-2 h-4 w-4', alt: 'xmark' %>
                <p>No custom forms</p>
              </li>
              <li class="flex items-center">
                <%= image_tag 'xmark-rose.svg', class: 'mr-2 h-4 w-4', alt: 'xmark' %>
                <p>No refunds for their plans</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mx-auto mt-16 text-center">
        <a href="https://app.ruby.ci/users/auth/github" class="rounded-full w-48 xs:w-auto bg-gradient-to-b from-blue-500 to-[#7953AA] px-4 py-4 sm:px-8 sm:py-6 text-base text-white text-center hover:opacity-80 transition-all duration-300 ease-in-out"><%= phrase('btn-type1-getstarted-text') %></a>
      </div>
    </div>
  </section>
  <section id="stats_section" class="bg-[url('abstract-image.png')] h-[900px] bg-cover bg-center flex items-center justify-center">
    <div class="mx-2 flex flex-col items-center justify-center max-w-7xl text-center overflow-hidden">
      <div class="px-6 pt-12 pb-10 sm:py-16 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-4xl font-light text-white sm:text-5xl"><%= phrase('circle_stats-title') %></h2>
          <p class="mx-auto mt-6 text-base font-normal leading-8 text-white"><%= phrase('circle_stats-subtitle') %></p>
        </div>
      </div>
      <div class="relative mx-2 lg:mx-auto bg-white rounded-2xl max-w-6xl">
        <div class="relative mx-auto px-6 py-4 lg:py-10 lg:px-12">
          <dl class="mx-auto grid lg:gap-x-8 gap-y-2 sm:gap-y-16 lg:mx-0 lg:max-w-none grid-cols-1 sm:grid-cols-4">
            <div class="flex flex-col items-center gap-y-1 md:gap-y-3 lg:pl-6">
              <dt class="text-base/6 text-center">Tests Run</dt>
              <dd class="order-first text-3xl text-indigo-500 font-semibold tracking-tight">1,200,456</dd>
              <dd class="border-t border-black/15 my-4 w-32 sm:hidden"></dd>
            </div>
            <div class="flex flex-col items-center gap-y-1 md:gap-y-3 sm:border-l border-black/15 lg:pl-6">
              <dt class="text-base/6 text-center">Minutes Saved</dt>
              <dd class="order-first text-3xl text-indigo-500 font-semibold tracking-tight">12,200,456</dd>
              <dd class="border-t border-black/15 my-4 w-32 sm:hidden"></dd>
            </div>
            <div class="flex flex-col items-center gap-y-1 md:gap-y-3 sm:border-l xs:border-black/15 lg:pl-6">
              <dt class="text-base/6 text-center">Supporting huge projects</dt>
              <dd class="order-first text-3xl text-indigo-500 font-semibold tracking-tight">1m+ LOC</dd>
              <dd class="border-t border-black/15 my-4 w-32 sm:hidden"></dd>
            </div>
            <div class="flex flex-col items-center gap-y-1 md:gap-y-3 sm:border-l border-black/15 lg:pl-6">
              <dt class="text-base/6 text-center">Uptime guarantee</dt>
              <dd class="order-first text-3xl text-indigo-500 font-semibold tracking-tight">99.9%</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="mt-10 flex flex-col xs:flex-row items-center justify-center gap-x-6 gap-y-4">
        <a href="https://app.ruby.ci/users/auth/github" class="rounded-full w-48 xs:w-auto bg-gradient-to-b from-blue-500 to-[#7953AA] px-4 py-2 sm:px-8 sm:py-4 text-base text-white text-center hover:opacity-80 transition-all duration-300 ease-in-out"><%= phrase('btn-type1-getstarted-text') %></a>
        <a href="/pricing" class="rounded-full w-48 xs:w-auto px-4 py-2 sm:px-8 sm:py-4 text-base text-white ring-1 ring-inset ring-white text-center hover:ring-gray-400 hover:text-gray-400"><%= phrase('btn-type2-text') %></a>
      </div>
    </div>
  </section>
  <%= render "#{@app}/layouts/partials/testimonials_aligned", aligned: true %>
</main>
