<main class="">
  <section id="pricing-hero-section">
    <div class="relative isolate overflow-hidden">
      <%= image_tag 'vector-left.svg', class: 'absolute -top-24 -left-16 rotate-[62deg] blur-2xl', alt: "" %>
      <%= image_tag 'vector-right.svg', class: 'absolute -top-24 -right-[100px] -rotate-45 blur-2xl', alt: "" %>

      <div class="py-16">
        <div class="mx-auto max-w-7xl">
          <div class="mx-auto max-w-4xl text-center">
            <div class="">
              <span class="inline-flex items-base space-x-2 text-base font-normal text-white">
                <%= image_tag 'five-stars.svg', class: 'h-5', alt: "" %>
                <span>145 Reviews</span>
              </span>
            </div>
            <p class="mt-2 text-4xl font-medium tracking-tight text-white sm:text-6xl"><%= phrase('pricing-header') %></p>
          </div>
          <p class="mx-auto mt-6 max-w-3xl text-center text-xl leading-6 text-white"><%= phrase('pricing-subheader') %></p>
          <div class="mt-16 pb-8 flex justify-center">
            <p class="text-xl font-normal text-white">Monthly Prices</p>
          </div>
          <div class="isolate mx-2 md:mx-auto mt-10 grid grid-cols-1 justify-center gap-5 md:max-w-2xl md:grid-cols-2 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-4">
            <div class="rounded-3xl p-7 ring-1 ring-gray-200 hover:bg-indigo-900">
              <h3 id="tier-hobby" class="text-lg font-semibold leading-7 text-white">Free</h3>
              <p class="mt-4 text-sm font-normal text-white">For small companies.</p>
              <p class="mt-6 flex items-baseline h-16 gap-x-1">
                <!-- Price, update based on frequency toggle state -->
                <span class="text-4xl font-light tracking-tight text-white">Free</span>
                <!-- Payment frequency, update based on frequency toggle state -->
                <span class="text-sm font-normal leading-5 text-gray-500">/per Month</span>
              </p>
              <a href="https://app.ruby.ci/users/auth/github" class="mt-6 block rounded-full px-4 py-2 sm:px-8 sm:py-4 text-center text-base text-white ring-1 ring-inset ring-white from-blue-500 to-[#7953AA] hover:bg-gradient-to-b hover:ring-0 hover:text-white">
                Sign Up With Github
              </a>
              <div class="mt-6 block rounded-full px-4 py-2 sm:px-8 sm:py-4 text-base text-center text-white opacity-0">
                I want this plan
              </div>
              <ul role="list" class="border-0 border-t border-zinc-900 pt-4 mt-8 space-y-3 tracking-tight text-sm font-normal leading-5 text-white">
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Unlimited number of user
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  100 builds for free each month
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Automatic setup, easy transition
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  No configuration
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Cloud development option
                </li>
              </ul>
            </div>
            <div class="xl:mt-0 p-7 rounded-3xl ring-1 ring-gray-200 hover:bg-indigo-900">
              <h3 id="tier-hobby" class="text-lg font-semibold leading-7 text-white">Starter</h3>
              <p class="mt-4 text-sm font-normal text-white">For companies that grow.</p>
              <p class="mt-6 flex items-baseline h-16 gap-x-1">
                <!-- Price, update based on frequency toggle state -->
                <span class="text-5xl font-medium tracking-tight text-white">$49</span>
                <!-- Payment frequency, update based on frequency toggle state -->
                <span class="text-sm font-normal leading-5 text-gray-500">/per Month</span>
              </p>
              <a href="https://app.ruby.ci/users/auth/github" class="mt-6 block rounded-full px-4 py-2 sm:px-8 sm:py-4 text-base text-center text-white ring-1 ring-inset ring-white from-blue-500 to-[#7953AA] hover:bg-gradient-to-b hover:ring-0 hover:text-white">
                Sign Up With Github
              </a>
              <!--a href="https://app.ruby.ci/users/auth/github" class="mt-6 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-4 py-2 sm:px-8 sm:py-4 text-base text-center text-white shadow-sm hover:bg-gradient-to-t">
                I want this plan
              </a-->
              <ul role="list" class="border-0 border-t border-zinc-900 pt-4 mt-8 space-y-3 tracking-tight text-sm font-normal leading-5 text-white">
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Get price match
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Add unlimited paid seats
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Concurency up to 100x
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code coverage reports
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Unified dashboard for failed tests
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code quality option
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code security report
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Optional development environment
                </li>
              </ul>
            </div>
            <div class="relative rounded-3xl p-7 ring ring-inset ring-indigo-500 hover:bg-indigo-900">
              <div class="flex justify-between items-center">
                <h3 id="tier-hobby" class="text-lg font-semibold leading-7 text-white">Premium</h3>
                <span class="rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-3 py-2 -mt-7 -mr-4 text-xs font-semibold text-white">Most Popular</span>
              </div>
              
              <p class="mt-4 text-sm font-normal text-white">For companies that grow.</p>
              <p class="mt-6 flex items-baseline h-16 gap-x-1">
                <!-- Price, update based on frequency toggle state -->
                <span class="text-5xl font-medium tracking-tight text-white">$79</span>
                <!-- Payment frequency, update based on frequency toggle state -->
                <span class="text-sm font-normal leading-5 text-gray-500">/per Month</span>
              </p>
              <a href="https://app.ruby.ci/users/auth/github" class="mt-6 block rounded-full px-4 py-2 sm:px-8 sm:py-4 text-base text-center text-white ring-1 ring-inset ring-white from-blue-500 to-[#7953AA] hover:bg-gradient-to-b hover:ring-0 hover:text-white">
                Sign Up With Github
              </a>
              <!--a href="https://app.ruby.ci/users/auth/github" class="mt-6 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-4 py-2 sm:px-8 sm:py-4 text-base text-center text-white shadow-sm hover:bg-gradient-to-t shadow-sm">
                I want this plan
              </a-->
              <ul role="list" class="border-0 border-t border-zinc-900 pt-4 mt-8 space-y-3 tracking-tight text-sm font-normal leading-5 text-white">
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Get price match
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Add unlimited paid seats
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Concurency up to 100x
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code coverage reports
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Unified dashboard for failed tests
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code quality option
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code security report
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Optional development environment
                </li>
              </ul>
            </div>
            <div class="rounded-3xl p-7 ring-1 ring-gray-200 hover:bg-indigo-900">
              <h3 id="tier-hobby" class="text-lg font-semibold leading-7 text-white">Dedicated</h3>
              <p class="mt-4 text-sm font-normal text-white">For fast paced companies</p>
              <p class="mt-6 flex items-baseline h-16 gap-x-1">
                <!-- Price, update based on frequency toggle state -->
                <span class="text-5xl font-medium tracking-tight text-white">Your</span>
                <!-- Payment frequency, update based on frequency toggle state -->
                <span class="text-sm font-normal leading-5 text-white">company oriented</span>
              </p>
              <a href="http://calendly.com/rubyci" class="mt-6 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-4 py-2 sm:px-8 sm:py-4 text-base text-center text-white hover:bg-gradient-to-t">Contact Us</a>
              <ul role="list" class="border-0 border-t border-zinc-900 pt-4 mt-8 space-y-3 tracking-tight text-sm font-normal leading-5 text-white">
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Reduce test run under 10 minutes
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Get price match
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Fastest CI on the market
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Add unlimited user seats
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Concurency up to 256x
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Unified dashboard for failed tests
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code quality option
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Code security report
                </li>
                <li class="flex gap-x-1.5">
                  <svg class="h-6 w-5 flex-none text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                  Optional development environment
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="pricing-reliable-support" class="bg-gray-950">
    <div class="mx-2 px-2 xl:mx-auto border border-yellow-500 rounded-2xl py-8 max-w-7xl xl:px-8 lg:px-12">
      <h2 class="text-center text-2xl font-normal leading-8 text-white"><%= phrase('support-section-title') %></h2>
      <div class="mx-auto mt-10 flex flex-col md:flex-row justify-around items-center lg:mx-0 lg:max-w-none">
        <div class="mt-8 flex flex-col md:flex-row items-center gap-2 text-sm md:text-lg font-normal text-white text-center">
          <%= image_tag 'shield-check.svg', class: 'h7 w-6', alt: "" %>
          24/7 Chat Support
        </div>
        <div class="mt-8 flex flex-col md:flex-row items-center gap-2 text-sm md:text-lg font-normal text-white text-center">
          <%= image_tag 'shield-check.svg', class: 'h7 w-6', alt: "" %>
          Technical assistance with our CTO
        </div>
        <div class="mt-8 flex flex-col md:flex-row items-center gap-2 text-sm md:text-lg font-normal text-white text-center">
          <%= image_tag 'shield-check.svg', class: 'h7 w-6', alt: "" %>
          9.8/10 Satisfaction rate
        </div>
      </div>
    </div>
  </section>
  <section id="pricing-compare-plans">
    <div class="pb-24 sm:pb-32">
      <div class="mx-auto max-w-7xl">
        <!-- xs to lg -->
        <div class="mx-auto mt-12 max-w-md space-y-8 sm:mt-16 lg:hidden">
          <section class="p-8">
            <h3 id="tier-starter" class="text-sm font-semibold leading-6 text-white">Free</h3>
            <p class="mt-2 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold text-white">free</span>
            </p>
            <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full px-6 py-3 text-center text-base font-medium leading-6 text-white ring-1 ring-inset ring-gray-800 hover:ring-0 hover:text-white from-blue-500 to-[#7953AA] hover:bg-gradient-to-b">I want this plan</a>
            <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span> Unlimited number of users </span>
                  </li>
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span> Automatic setup, easy transition </span>
                  </li>
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>100 builds for free each month</span>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
          <section class="rounded-xl p-8 ring-1 ring-inset ring-white/10">
            <h3 id="tier-growth" class="text-sm font-semibold leading-6 text-white">Starter</h3>
            <p class="mt-2 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold text-white">$12</span>
            </p>
            <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-6 py-3 text-center text-base font-medium leading-6 text-white hover:bg-gradient-to-t">I want this plan</a>
            <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Automatic setup, easy transition</span>
                  </li>
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Get price match</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Add unlimited paid seats</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500" %>
                    <span>Code coverage reports</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code quality option</span>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
          <section class="p-8">
            <h3 id="tier-scale" class="text-sm font-semibold leading-6 text-white">Premium</h3>
            <p class="mt-2 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold text-white">$29</span>
            </p>
            <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-6 py-3 text-center text-base font-medium leading-6 text-white hover:bg-gradient-to-t">I want this plan</a>
            <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Automatic setup, easy transition</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Add unlimited paid seats</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code coverage reports</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code quality option</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code security report</span>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
          <section class="p-8">
            <h3 id="tier-scale" class="text-sm font-semibold leading-6 text-white">Dedicated</h3>
            <p class="mt-2 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold text-white">Custom</span>
            </p>
            <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-6 py-3 text-center text-base font-medium leading-6 text-white hover:bg-gradient-to-t">I want this plan</a>
            <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Automatic setup, easy transition</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Add unlimited paid seats</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code coverage reports</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code quality option</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code security report</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Code security report</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Reduce test run under 10 minutes	</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Concurency up to 256x</span>
                  </li>
                </ul>
              </li>
              <li>
                <ul role="list" class="space-y-4">
                  <li class="flex gap-x-3">
                    <%=image_tag "checkmark-green.svg", class: "h-5 w-4 flex-none text-green-500", alt: '' %>
                    <span>Custom dedicated options</span>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </div>

        <!-- lg+ -->
        <div class="mt-20 hidden lg:block">
          <div class="relative">
            <table class="w-full">
              <caption class="sr-only">
                Pricing plan comparison
              </caption>
              <colgroup>
                <col class="w-1/5">
                <col class="w-1/5">
                <col class="w-1/5">
                <col class="w-1/5">
                <col class="w-1/5">
              </colgroup>
              <thead>
                <tr>
                  <td></td>
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                    <div class="text-2xl font-normal leading-8 text-white text-center">Free</div>
                  </th>
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                    <div class="text-2xl font-normal leading-8 text-white text-center">Starter</div>
                  </th>
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                    <div class="text-2xl font-normal leading-8 text-white text-center">Premium</div>
                  </th>
                  <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                    <div class="text-2xl font-normal leading-8 text-white text-center">Dedicated</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><span class="sr-only">Price</span></th>
                  <td class="px-6 pt-2 xl:px-8">
                    <div class="flex items-baseline justify-center gap-x-1 text-white text-center">
                      <span class="text-lg font-normal leading-7">-</span>
                    </div>
                    <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full px-6 py-3 text-center text-base font-medium leading-6 text-white ring-1 ring-inset ring-gray-800 hover:ring-0 hover:text-white from-blue-500 to-[#7953AA] hover:bg-gradient-to-t">I want this plan</a>
                  </td>
                  <td class="px-6 pt-2 xl:px-8">
                    <div class="flex items-baseline justify-center gap-x-1 text-white">
                      <span class="text-lg font-normal leading-7">$49</span>
                    </div>
                    <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-6 py-3 text-center text-base font-medium leading-6 text-white hover:bg-gradient-to-t">I want this plan</a>
                  </td>
                  <td class="px-6 pt-2 xl:px-8">
                    <div class="flex items-baseline justify-center gap-x-1 text-white">
                      <span class="text-lg font-normal leading-7">$79</span>
                    </div>
                    <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-6 py-3 text-center text-base font-medium leading-6 text-white hover:bg-gradient-to-t">I want this plan</a>
                  </td>
                  <td class="px-6 pt-2 xl:px-8">
                    <div class="flex items-baseline justify-center gap-y-4 text-white">
                      <span class="text-lg font-normal leading-7">Custom</span>
                    </div>
                    <a href="https://app.ruby.ci/users/auth/github" class="mt-4 block rounded-full from-blue-500 to-[#7953AA] bg-gradient-to-b px-6 py-3 text-center text-base font-medium leading-6 text-white hover:bg-gradient-to-t">I want this plan</a>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Automatic setup, easy transition
                  </th>
                  <td class="px-12 py-12">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Get price match
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Add unlimited paid seats
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Code coverage reports
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Code quality option
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Code security report
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Reduce test run under 10 minutes
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Concurency up to 256x
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
                <tr class="ring-1 ring-inset rounded-2xl ring-gray-800">
                  <th scope="row" class="py-4 pl-12 text-xl font-normal leading-6 text-left text-white">
                    Custom dedicated options
                  </th>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "excluded.svg", class: "mx-auto h-7 w-7 text-zinc-500", alt: '' %>
                    <span class="sr-only">Excluded</span>
                  </td>
                  <td class="px-12 py-8">
                    <%=image_tag "checkmark-green.svg", class: "mx-auto h-6 w-6 text-green-500", alt: '' %>
                    <span class="sr-only">Included</span>
                  </td>
                </tr>
                <tr>
                  <th scope="colgroup" colspan="5" class="h-5"></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="pricing-faq" class="bg-gradient-to-b from-slate-900 to-gray-950 py-16">
    <div class="flex items-center justify-center flex-col gap-y-2 py-5">
      <h2 class="text-3xl font-medium text-white"><%= phrase('questions-section-title') %></h2>
    </div>
    <div class="w-full px-7 md:px-10 xl:px-2 py-4">
      <div class="mx-auto w-full max-w-4xl">
        <div class="mb-8 bg-gray-950 rounded-2xl ring-1 ring-inset ring-gray-800">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-white focus:outline-none p-5" data-toggle="answer-1">
            <span>What if I am building open-source?</span>
            <%= image_tag 'arrow-down.svg', class: 'arrow-down mt-1.5 md:mt-0 flex-shrink-0  h-9 w-9 text-white', alt: "" %>
          </button>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-white font-light" id="answer-1"
            style="display: none;">Answer</div>
        </div>
        <div class="mb-8 bg-gray-950 rounded-2xl ring-1 ring-inset ring-gray-800">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-white focus:outline-none p-5" data-toggle="answer-2">
            <span>What are concurrent job runs?</span>
            <%= image_tag 'arrow-down.svg', class: 'arrow-down mt-1.5 md:mt-0 flex-shrink-0  h-9 w-9 text-white', alt: "" %>
          </button>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-white font-light" id="answer-2"
            style="display: none;">Answer</div>
        </div>
        <div class="mb-8 bg-gray-950 rounded-2xl ring-1 ring-inset ring-gray-800">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-white focus:outline-none p-5" data-toggle="answer-3">
            <span>What if I am building open-source?</span>
            <%= image_tag 'arrow-down.svg', class: 'arrow-down mt-1.5 md:mt-0 flex-shrink-0  h-9 w-9 text-white', alt: "" %>
          </button>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-white font-light" id="answer-3"
            style="display: none;">Answer</div>
        </div>
        <div class="mb-8 bg-gray-950 rounded-2xl ring-1 ring-inset ring-gray-800">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-white focus:outline-none p-5" data-toggle="answer-4">
            <span>What are concurrent job runs?</span>
            <%= image_tag 'arrow-down.svg', class: 'arrow-down mt-1.5 md:mt-0 flex-shrink-0  h-9 w-9 text-white', alt: "" %>
          </button>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-white font-light" id="answer-4"
            style="display: none;">Answer</div>
        </div>
        <div class="mb-8 bg-gray-950 rounded-2xl ring-1 ring-inset ring-gray-800">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-white focus:outline-none p-5" data-toggle="answer-5">
            <span>What if I am building open-source?</span>
            <%= image_tag 'arrow-down.svg', class: 'arrow-down mt-1.5 md:mt-0 flex-shrink-0  h-9 w-9 text-white', alt: "" %>
          </button>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-white font-light" id="answer-5"
            style="display: none;">Answer</div>
        </div>
      </div>
    </div>
  </section>
</main>
