<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ruby.ci fastest Ruby on Rails CI in cloud</title>

    <%= favicon_link_tag 'logo-linear.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <style>
      html, body {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
      }
      #footer-imgs {
        zoom: 50%;
        @media only screen and (min-width: 1024px) {
          zoom: 100%;
        }
      }
    </style>

    <%= raw @settings['codeinjection_head'] %>
    <%= render 'rubyci/layouts/partials/scripts_header' %>
    <%= render 'rubyci/layouts/partials/pricing_script' if action_name == 'pricing' %>
  </head>

  <body class="bg-gray-900 relative">
    <%#= render 'layouts/partials/top' %>
    <%= render 'rubyci/layouts/partials/header' %>
    <div class="page-wrapper">
      <%= yield %>
      <%= render 'rubyci/layouts/partials/footer' %>
    </div>
    <%= render 'layouts/partials/features_script' if action_name == 'features' %>
    <%= raw @settings['codeinjection_foot'] %>
  </body>
</html>
