<main class="featured">
  <header class="heading">
    <div class="container position-relative">
      <div class="row">
        <div class="col-12 d-flex align-items-center flex-column mb-0">
          <h1 class="text-center position-relative">
            Featured projects
          </h1>
          <p class="text-secondary fs-5 text-center">
            Over the years, we have created a number of high-quality apps using different technologies
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row featured-technologies">
        <div class="col-12 col-md-10 offset-md-1 d-flex ali-items-center justify-content-center flex-wrap">
          <%= image_tag 'kolosek/ic-rails.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-react.svg', class: 'col-6 col-md mb-4 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-node.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-ember.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-vue.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-ruby-horizontal.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-js.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
          <%= image_tag 'kolosek/ic-phoenix.svg', class: 'col-6 col-md mb-5 mb-md-auto', alt: "" %>
        </div>
      </div><!-- /.row -->
    </div>
  </header>
  <section class="home-featured home-featured-our">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Our products
          </h2>
          <p class="text-center fs-5">
            We are continuously creating new solutions that transform the way you work
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-movie-pilot.png', class: 'img-fluid', alt: "MoviePilot" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">MoviePilot</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Your guide to films & cinemas</h4>
            <p class="card-text">
              Alternative of IMDB for Germany speaking market with huge number of visitors
              <br><br>
              We are sole technology partner using Ruby on Rails and React for several years
            </p>
            <a href="https://www.moviepilot.de/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">LiteTracker</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">The most complete Pivotal Tracker successor</h4>
            <p class="card-text">
              Agile project management platform for teams migrating from Pivotal Tracker
              <br><br>
              Story management, velocity tracking, and real-time collaboration with integrations for GitHub, Slack, and 50+ tools
            </p>
            <a href="https://litetracker.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'litetracker/hero-image.webp', class: 'img-fluid', alt: "LiteTracker" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-ruby-ci.jpg', class: 'img-fluid', alt: "Ruby.ci" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Ruby.ci</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Best CI platform for your Rails application</h4>
            <p class="card-text">
              2-min setup with no extra code, tools & UI built for your Ruby on Rails Application
              <br><br>
              Most complex code for best user experience
              Combining Elixir, Ruby and React
            </p>
            <a href="https://ruby.ci" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Squire</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">The essential app for every barber</h4>
            <p class="card-text">
              All-in-one business management platform for barbershops trusted by over 32,000 barbers
              <br><br>
              Online booking, payment processing, staff management, and analytics in a single integrated platform
            </p>
            <a href="https://getsquire.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-squire.avif', class: 'img-fluid', alt: "Squire" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-boardspan.png', class: 'img-fluid', alt: "Boardspan" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Boardspan</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Make Your Board Better</h4>
            <p class="card-text">
              Technology-enabled solutions and advisory services for boards of directors
              <br><br>
              Board assessments, director evaluations, CEO reviews, and governance expertise to help boards succeed
            </p>
            <a href="https://boardspan.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Simone LeBlanc</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Curated Gift Boxes + Fine Gifts</h4>
            <p class="card-text">
              Los Angeles-based gifting company specializing in thoughtfully curated gift boxes and baskets
              <br><br>
              Custom gift solutions for individuals and businesses with volume gifting and corporate concierge services
            </p>
            <a href="https://simoneleblanc.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-simone-leblanc.jpg', class: 'img-fluid', alt: "Simone LeBlanc" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-wrap.png', class: 'img-fluid', alt: "WRAP" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">WRAP</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Mobile engagement technology</h4>
            <p class="card-text">
              Tell your story, provide service, or sell products right in the messaging feed. All with no programming, no waiting, and no apps to download
              <br><br>
              The Wrap was a big startup that raised Series B funding. At the time we were working together, Kolosek team had a chance to partner up with around 100 people from the San Francisco office
            </p>
            <a href="https://www.wrap.co/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Featured projects
          </h2>
          <p class="text-center fs-5">
            Here are a few recent works we are proud of. For more check our <a href="/portfolio" data-umami-event="cta-portfolio">Portfolio</a>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">WRAP</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Mobile engagement technology</h4>
            <p class="card-text">
              Tell your story, provide service, or sell products right in the messaging feed. All with no programming, no waiting, and no apps to download
              <br><br>
              The Wrap was a big startup that raised Series B funding. At the time we were working together, Kolosek team had a chance to partner up with around 100 people from the San Francisco office
            </p>
            <a href="https://www.wrap.co/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-wrap.png', class: 'img-fluid', alt: "WRAP" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-oschool.jpg', class: 'img-fluid', alt: "O.school" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">O.school</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Educational platform</h4>
            <p class="card-text">
              Judgment-free, science-based sexual wellness platform · Initial product planning and execution · A virtual classroom app, based on live streaming technology and moderated chat · Featured on Techcrunch
            </p>
            <a href="https://www.o.school/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Other projects
          </h2>
          <p class="text-center fs-5">
            More projects we've had the pleasure to work on
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">The Next Closet</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Marketplace</h4>
            <p class="card-text">
              The largest marketplace for second hand designer brands in Netherlands
              <br><br>
              Building and maintaining web and mobile app with millions of visitors per month
            </p>
            <a href="https://thenextcloset.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-next-closet.jpg', class: 'img-fluid', alt: "The Next Closet" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-sniffler.jpg', class: 'img-fluid', alt: "Sniffler" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Sniffler</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">The most attentive code reviewer</h4>
            <p class="card-text">
              When a GitHub pull request is opened or updated Sniffler simply integrates with your workflow
              <br><br>
              Sniffler scans and reports errors with your code and helps you fix them whenever possible
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">GitPuller</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Pull request manager</h4>
            <p class="card-text">
              Get the complete transparency in your product development process without risking access to Intellectual Property
              <br><br>
              GitPuller does not require actual access to the code on Github
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out" data-umami-event="project-checkout">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-git-puller.jpg', class: 'img-fluid', alt: "GitPuller" %>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->
