<main class="our-process">
  <header class="heading">
    <div class="container position-relative">
      <h1 class="text-center">
        Our Process
      </h1>
      <p class="fs-5 text-center">
        Now you will be able to find out more about the eight steps of our product development process
        <br>
        that ensures we deliver reliable, secure and high-performance web and mobile apps
      </p>
    </div>
  </header>
  <section class="our-process-planning title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 1: the planning
          </h2>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                The planning phase helps us fulfill the purpose of our project, which is creating an amazing product that caters to our client’s needs. During this phase, we rely quite a bit on our clients' input because it helps us determine essential elements of the project
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-users.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                Communication is the key when we're planning our next move, which is why we like to meet with our clients face-to-face in order to learn as much as we can about them and their ideas and goals. If such a meeting is not possible, we use tools like Slack and Skype to help us out
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-ux-ui title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 2: UX UI design
          </h2>
          <p class="timeline h5 text-primary text-center">
            <span>Research</span><span>UX Wireframes</span><span>Visual Concept</span><span>UI Design</span>
          </p>
          <p class="text-center">
            We use the most advanced design tools in our workflow
          </p>
          <div class="tools d-flex justify-content-center">
            <%= image_tag 'kolosek/ic-axure.svg', alt: "" %>
            <%= image_tag 'kolosek/ic-figma.svg', alt: "" %>
            <%= image_tag 'kolosek/ic-creative-cloud.svg', alt: "" %>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-lightning.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                We take a close look at our client's business goals, target audience, competitors and industry; take into account the best UX solutions. We propose a visual concept based not only on the client's preferences, but also on research and experience in the evolution of other products
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-eye.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                As a client, you will have a full insight into the concept and wireframes, as well as the reasoning behind them. Our team of designers always makes sure that every necessary change is rapidly implemented
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-platform title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 3: choosing a platform
          </h2>
          <p class="text-center">
            Your app should solve your users’ problem
            <br>
            Depending on what the problem is, we choose the correct platform
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-folder.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                Every project aims different audiance, and meant for different purposes. That's why there is no silver bullet.
                We talk with our clients about their unique needs and we do the research on what is the best approach to take from choosing technology point of view. Of course, after years of experience, we know what works best in certain types of scenarios
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                We also use React and React Native. Both of these provide us with full control over JavaScript and the possibility to iteratively develop and test. For iOS apps we use Swift and for Android apps there is Java
              </p>
              <div class="platforms">
                <%= image_tag 'kolosek/ic-react-no-text.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-swift.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-java.svg', alt: "" %>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-production title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 4: production
          </h2>
          <p class="text-center">
            Production is a part of the software development life cycle in which we focus on the product the most
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-shield-check.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                Production grade apps should sustain heavy load without breaking. Read replicas, mutliple instances, load balancer, DDoS protection, and performance monitoring are some of the elements of puzzle for keeping app up and running even when you are not awake
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-cloud.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                For hosting, we use Heroku, Amazon and many other services depending on project. Sometimes raw power is the best, sometimes something else. In any case we choose what's best for production application.
                <br>
                Amazon’s Platform as a Service helps us focus on the most important thing — creating the app. We don’t have to worry about web and app servers
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-code-quality title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 5: code quality
          </h2>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-globe.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                We have worked with numerous companies around the world and perfected the process based on our experience. We gathered experience working with big startups in USA, Melbourne and accross Europe. Different approaches, great people, big knowledge
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-chart.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                A big part of the product development process is Test Driven Development (TDD). In order to ensure the quality of our code, we strive to use it in all processes. Of course, we use pull requests, peer review and several other processes to ensure code quality
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-kpi title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 6: KPIs
          </h2>
          <p class="text-center">
            Without KPIs, it would be challenging to solve performance issues & stay focused
            <br>
            on the software development life cycle
          </p>
          <p class="col-12 col-md-10 offset-md-1">
            KPI (Key Performance Indicators) are business metrics we use to track several factors that affect the overall success of the process. They serve as guidance towards strategic plans and show the progress that has been made. We measure KPIs periodically and compare them to the previously set objects
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-retrospective title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 7: retrospective
          </h2>
          <p class="text-center">
            Retrospective meetings help us analyze all the previous activities
            <br>
            and identify the ones that need improvement
          </p>
          <p class="col-12 col-md-10 offset-md-1">
            In order to ensure the maximum quality of the product development process, we regularly have retrospective meetings. What we can we improve, on weekly basis. Like sports team, ready for top of the game through the year
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="our-process-compliance title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Step 8: compliance
          </h2>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-quality.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                Over the years, we have faced the challenge of demonstrating compliance. Working with higly regulated business like banks and boards, one should have compliance in check
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card d-block mb-5 mb-md-0">
            <%= image_tag 'kolosek/ic-lock.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                We are focused on making sure that you, as our client, are protected from any type of fraud and error or usage of the code that would lead them to some problems in the future
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-shield.svg', alt: "" %>
            <div class="card-body">
              <p class="card-text">
                Furthermore, we have policies and control procedures to ensure client’s protection. From safely storying documents, access rights but at the same time not sacrificing agility
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h2 class="text-center h1">
            Make it happen
          </h2>
          <div class="posting-form cover">
            <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "1118038",
              region: "na1",
              formId: "0207a4e3-9ea2-4b7b-a5d2-b8eb561ba7dd",
              locale: 'en',
              version: "V2_PRERELEASE",
              onFormSubmit: function($form) {
                $('.cover').removeClass('cover');
                ga('send', 'event', 'conversion', 'contact');
                setFormParameters($form)
              } 
            });
            </script>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->
