<header class="sticky inset-x-0 top-0 z-50 bg-white/90 backdrop-blur-sm transition-colors duration-300">
      <nav aria-label="Global" class="max-w-7xl mx-auto flex items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5" data-umami-event="nav-click" data-umami-event-link="logo">
            <span class="sr-only">LiteTracker</span>
            <%= image_tag 'litetracker/logo-black.png', class: "h-8 w-auto", alt: 'logo' %>
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="/about" class="text-sm/6 font-semibold text-gray-900" data-umami-event="nav-click" data-umami-event-link="about">About</a>
          <a href="/pricing" class="text-sm/6 font-semibold text-gray-900" data-umami-event="nav-click" data-umami-event-link="pricing">Pricing</a>
          <a href="/features" class="text-sm/6 font-semibold text-gray-900" data-umami-event="nav-click" data-umami-event-link="features">Features</a>
          <a href="/blog?page=1" class="text-sm/6 font-semibold text-gray-900" data-umami-event="nav-click" data-umami-event-link="blog">Blog</a>
          <a href="https://litetracker.featurebase.app/roadmap" target="_blank" class="text-sm/6 font-semibold text-gray-900" data-umami-event="nav-click" data-umami-event-link="changelog">Changelog</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="<%= app_login_url_with_utm('https://app.litetracker.com/login') %>" class="text-sm/6 font-semibold text-gray-900" data-umami-event="cta-signup" data-umami-event-location="header">Sign up/Sign in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
      <div class="bg-[#E6E6EB] h-px">

      </div>
      <el-dialog>
        <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
          <div tabindex="0" class="fixed inset-0 focus:outline-none">
            <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
              <div class="flex items-center justify-between">
                <a href="/" class="-m-1.5 p-1.5">
                  <span class="sr-only">LiteTracker</span>
                  <%= image_tag 'litetracker/logo-black.png', class: "h-8 w-auto", alt: 'logo' %>
                </a>
                <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Close menu</span>
                  <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                  <div class="space-y-2 py-6">
                    <a href="/about" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" data-umami-event="nav-click" data-umami-event-link="about">About</a>
                    <a href="/pricing" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" data-umami-event="nav-click" data-umami-event-link="pricing">Pricing</a>
                    <a href="/features" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" data-umami-event="nav-click" data-umami-event-link="features">Features</a>
                    <a href="/blog?page=1" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" data-umami-event="nav-click" data-umami-event-link="blog">Blog</a>
                    <a href="https://litetracker.featurebase.app/roadmap" target="_blank" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" data-umami-event="nav-click" data-umami-event-link="changelog">Changelog</a>
                  </div>
                  <div class="py-6">
                    <a href="<%= app_login_url_with_utm('https://app.litetracker.com/login') %>" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" data-umami-event="cta-signup" data-umami-event-location="mobile-menu">Sign up/Sign in</a>
                  </div>
                </div>
              </div>
            </el-dialog-panel>
          </div>
        </dialog>
      </el-dialog>
      <% unless @hide_banner %>
        <div class="w-full mx-auto flex items-center justify-center px-6 py-1 shadow bg-[#FFE269] !bg-slate-800 text-slate-900 !text-white h-7">
          <div class="text-md font-medium">
            <span><%= safe_phrase('litetracker_banner-text', 'Register now with coupon code NOV25 and get 20% off.') %></span>
            <%= link_to('link text', '#', class: 'text-[#0957a4] !text-white font-semibold hover:underline hidden') %>
          </div>
        </div>
      <% end %>
    </header>
