<section id="faq-section" class="pb-16 lg:pb-28">
  <div class="relative mx-auto max-w-7xl py-16 sm:pt-24 flex flex-col items-center gap-y-24">
    <div class="mx-auto max-w-2xl flex flex-col gap-y-6 text-center">
      <div class="flex items-center justify-center text-green-dark text-xs">
        <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <p class="pl-1 font-bold">FAQ</p>
      </div>
      <h3 class="text-heading"><%= safe_phrase('litetracker_faq-header', 'In case you missed anything') %></h3>
      <p class="text-base font-normal text-gray-500 sm:text-lg">
        <%= safe_phrase('litetracker_faq-subheader', "We're here to answer all your questions.") %>
      </p>
      <div class="mx-auto h-11 w-fit mt-8">
        <a href="https://eu.bigin.online/org20102608918/forms/litetracker" class="flex items-center opacity-100 justify-center rounded-xl h-full pr-4 pl-5 font-semibold text-black bg-white hover:bg-gray-100 border border-black shadow-[rgba(0,0,0,0.25)_0px_1px_4px_0px]">
          <span>Contact support</span>
          <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <polyline points="9 6 15 12 9 18" />
          </svg>
        </a>
      </div>
    </div>
    <div class="flex-grow px-7 md:px-10 xl:px-2 py-4">
      <div class="mx-auto max-w-2xl sm:min-w-2xl">
        <div class="border-b border-gray-200">
          <input type="checkbox" name="answer-1" id="answer-1" class="peer sr-only">
          <label for="answer-1" class="cursor-pointer flex w-full items-center gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-black focus:outline-none p-6 peer-checked:[&_.open-icon]:hidden peer-checked:[&_.close-icon]:block">
            <span><%= safe_phrase('litetracker_faq-question_1', 'Is my data safe with your platform?') %></span>
            <svg class="h-5 w-5 open-icon block"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <svg class="h-5 w-5 close-icon hidden"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
          </label>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-black font-light hidden peer-checked:block" id="answer-1">
            <%= safe_phrase('litetracker_faq-answer_1', 'We use encryption protocols to safeguard data transmission, regularly monitor for any vulnerabilities, and implement industry-standard security practices. Rest assured, your data is in safe hands.') %>
          </div>
        </div>
        <div class="border-b border-gray-200">
          <input type="checkbox" name="answer-2" id="answer-2" class="peer sr-only">
          <label for="answer-2" class="group cursor-pointer flex w-full items-center gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-black focus:outline-none p-6 peer-checked:[&_.open-icon]:hidden peer-checked:[&_.close-icon]:block">
            <span><%= safe_phrase('litetracker_faq-question_2', 'What kind of customer support do you offer?') %></span>
            <svg class="h-5 w-5 open-icon block"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <svg class="h-5 w-5 close-icon hidden"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
          </label>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-black font-light hidden peer-checked:block" id="answer-2">
            <%= safe_phrase('litetracker_faq-answer_2', 'We take pride in providing excellent customer support. Our team is readily available to assist you with any queries or issues you may have. We offer various support channels, including email and live chat.') %>
          </div>
        </div>
        <div class="border-b border-gray-200">
          <input type="checkbox" name="answer-4" id="answer-4" class="peer sr-only">
          <label for="answer-4" class="group cursor-pointer flex w-full items-center gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-black focus:outline-none p-6 peer-checked:[&_.open-icon]:hidden peer-checked:[&_.close-icon]:block">
            <span><%= safe_phrase('litetracker_faq-question_3', 'How does the pricing for your web solution work?') %></span>
            <svg class="h-5 w-5 open-icon block"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <svg class="h-5 w-5 close-icon hidden"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
          </label>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-black font-light hidden peer-checked:block" id="answer-4">
            <%= safe_phrase('litetracker_faq-answer_3', 'Our pricing structure is based on a subscription model. We offer one pricing plans which is expanable through addons. If you have special requests we usually tailor subscription best for you. You can choose the plan that best suits your needs, and we provide transparent pricing information on our website.') %>
          </div>
        </div>
        <div class="border-b border-gray-200">
          <input type="checkbox" name="answer-6" id="answer-6" class="peer sr-only">
          <label for="answer-6" class="group cursor-pointer flex w-full items-center gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-black focus:outline-none p-6 peer-checked:[&_.open-icon]:hidden peer-checked:[&_.close-icon]:block">
            <span><%= safe_phrase('litetracker_faq-question_4', 'Can I cancel my subscription at any time?') %></span>
            <svg class="h-5 w-5 open-icon block"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <svg class="h-5 w-5 close-icon hidden"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
          </label>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-black font-light hidden peer-checked:block" id="answer-6">
            <%= safe_phrase('litetracker_faq-answer_4', 'We understand that business needs may change, and we aim to provide flexibility to our customers. Please refer to our cancellation policy for any specific terms and conditions regarding subscription cancellations.') %>
          </div>
        </div>
        <div class="border-b border-gray-200">
          <input type="checkbox" name="answer-3" id="answer-3" class="peer sr-only">
          <label for="answer-3" class="group cursor-pointer flex w-full items-center gap-x-5 justify-between rounded-lg text-left text-xl font-normal text-black focus:outline-none p-6 peer-checked:[&_.open-icon]:hidden peer-checked:[&_.close-icon]:block">
            <span><%= safe_phrase('litetracker_faq-question_5', 'How can I manage my subscription?') %></span>
            <svg class="h-5 w-5 open-icon block"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <svg class="h-5 w-5 close-icon hidden"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
          </label>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-black font-light hidden peer-checked:block" id="answer-3">
            <%= safe_phrase('litetracker_faq-answer_5', 'Yes, you have the flexibility to upgrade or downgrade your subscription plan based on your evolving needs. You can change your subscription directly on your profile when you login to LiteTracker.') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
