<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 order-last order-md-first">
        <%= image_tag 'kolosek/logo-white.svg', class: 'logo', alt: "" %>
        <p>Novi Sad, Serbia, Europe</p>
        <a href="https://github.com/kolosek" target="_blank" data-umami-event="social-github"><%= image_tag 'kolosek/ic-git.svg', alt: "" %></a>
        <a href="https://www.facebook.com/Kolosekcom/" target="_blank" data-umami-event="social-facebook"><%= image_tag 'kolosek/ic-facebook.svg', alt: "" %></a>
        <a href="https://www.instagram.com/kolosekcom/?hl=en" target="_blank" data-umami-event="social-instagram"><%= image_tag 'kolosek/ic-instagram.svg', alt: "" %></a>
        <a href="https://twitter.com/kolosekcom" target="_blank" data-umami-event="social-twitter"><%= image_tag 'kolosek/ic-twitter.svg', alt: "" %></a>
        <a href="https://rs.linkedin.com/company/kolosek-it" target="_blank" data-umami-event="social-linkedin"><%= image_tag 'kolosek/ic-linkedin.svg', alt: "" %></a>
      </div>
      <div class="col-12 col-md-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Company</a></h3>
            </li>
            <li>
              <a href="/about" data-umami-event="footer-about">About Us</a>
            </li>
            <li>
              <a href="https://poslovi.kolosek.com" data-umami-event="footer-careers">Careers</a>
            </li>
            <li>
              <a href="/blog" data-umami-event="footer-blog">Blog</a>
            </li>
            <li>
              <a href="/contact" data-umami-event="footer-contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Services</a></h3>
            </li>
            <li>
              <a href="/process" data-umami-event="footer-process">Our Process</a>
            </li>
            <li>
              <a class="ic" href="https://link.kolosek.com/c358e220" target="_blank" data-umami-event="footer-portfolio">Portfolio <%= image_tag 'kolosek/ic-pdf.svg', alt: "" %></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Solutions</a></h3>
            </li>
            <li>
              <a href="#" data-umami-event="footer-design-review">Design Review</a>
            </li>
            <li>
              <a href="/code_review" data-umami-event="footer-code-review">Code Review</a>
            </li>
            <li>
              <a href="#" data-umami-event="footer-open-source">Open Source</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-2">
        <nav>
          <ul class="list-unstyled">
            <li>
              <h3><a href="#">Legal</a></h3>
            </li>
            <li>
              <a href="#" data-umami-event="footer-privacy">Privacy</a>
            </li>
            <li>
              <a href="#" data-umami-event="footer-terms">Terms</a>
            </li>
          </ul>
        </nav>
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-12">
        <p class="copyright text-center">Copyright © <%= Time.now.year %> KOLOSEK. All rights reserved.</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /#footer -->
