<main class="about">
  <header class="heading">
    <div class="container position-relative">
      <h1 class="text-center">
        We Build Great Software
      </h1>
      <p class="fs-5 text-center">
        Our competence in custom software development has helped launch
        <br>
        multiple successful startup companies
      </p>
    </div>
  </header>
  <section class="about-stats">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-2 offset-xl-1 mb-5 mb-xl-0 justify-content-center justify-content-mb-start">
          <p>
            <span class="h2">15</span>
            <strong class="h5 mb-0">years</strong>
          </p>
        </div>
        <div class="col-12 col-xl-2 mb-5 mb-xl-0 py-4 py-xl-0 justify-content-center justify-content-mb-start">
          <p>
            <span class="h2">30</span>
            <strong class="h5 mb-0">employes</strong>
          </p>
        </div>
        <div class="col-12 col-xl-3 justify-content-center pt-4 pt-xl-0 mb-5 mb-xl-0">
          <p>
            <span class="h2">8+</span>
            <strong class="h5 mb-0">
              years longevity
              <br>
              of support
            </strong>
          </p>
        </div>
        <div class="col-12 col-xl-3 pt-4 pt-xl-0 justify-content-center">
          <p>
            <span class="h2">1-2</span>
            <strong class="h5 mb-0">
              products/year gets
              <br>
              to Series A funding
            </strong>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="partners about-partners">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="mb-5">
            Since 2011 we have partnered with more than 30 brands. Mostly from America, Europe & Australia
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#"><%= image_tag 'kolosek/logo-closet.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-boardspan.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-squire.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-simone-leblanc.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-listium.png', class: 'img-fluid', alt: "" %></a>
        </div>
        <div class="col-12">
          <a href="#"><%= image_tag 'kolosek/logo-oschool.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-movie-pilot.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-wrap.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-ruby-ci.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-versa-commerce.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-style-myle.png', class: 'img-fluid', alt: "" %></a>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="about-team">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Meet the team
          </h2>
          <p class="text-center fs-5">
            We are a project development team that consists of bright and witty dog lovers
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <%= image_tag 'kolosek/team-1.jpg', class: 'img-fluid', alt: "" %>
          <%= image_tag 'kolosek/team-2.jpg', class: 'img-fluid', alt: "" %>
          <%= image_tag 'kolosek/team-3.jpg', class: 'img-fluid', alt: "" %>
          <%= image_tag 'kolosek/team-4.jpg', class: 'img-fluid', alt: "" %>
          <%= image_tag 'kolosek/team-5.jpg', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
          <p class="fs-6">
            If Bill Gates was right and technology is just a tool, then we want to use it to create something awesome and help our clients as much as possible. Our biggest advantages are our drive and willingness to learn new things. We have been working in the industry for years and, until this day, we enjoy finding new solutions and technologies that cater to our clients’ demands.
          </p>
          <p class="fs-6">
            What happens when a new challenge comes up? We face it and overcome it, as a team. Poor leadership is expensive and that's why we make sure there is a proper leadership team development. With transparency, initiative, and proper communication we were able to efficiently complete all of our projects.
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="about-technologies">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Technologies
          </h2>
          <p class="text-center fs-5">
            Over the years, we have created a number of high-quality apps using Ruby on Rails,
            <br class="d-none d-xl-block">
            React, Angular, Node, and other technologies
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-11 text-center">
          <div class="row">
            <div class="col-6 col-md offset-lg-2 text-lg-start">
              <%= image_tag 'kolosek/ic-rails.svg', alt: "" %>
            </div>
            <div class="col-6 col-md">
              <%= image_tag 'kolosek/ic-react.svg', alt: "" %>
            </div>
            <div class="col-6 col-md">
              <%= image_tag 'kolosek/ic-node.svg', alt: "" %>
            </div>
            <div class="col-6 col-md">
              <%= image_tag 'kolosek/ic-ember.svg', alt: "" %>
            </div>
          </div><!-- /.row -->
        </div>
      </div><!-- /.row -->
      <div class="row text-center">
        <div class="col-lg-11 text-center">
          <div class="row">
          <div class="col-6 col-md offset-lg-2 text-lg-start">
            <%= image_tag 'kolosek/ic-vue.svg', alt: "" %>
          </div>
          <div class="col-6 col-md">
            <%= image_tag 'kolosek/ic-ruby.svg', alt: "" %>
          </div>
          <div class="col-6 col-md">
            <%= image_tag 'kolosek/ic-js.svg', alt: "" %>
          </div>
          <div class="col-6 col-md">
            <%= image_tag 'kolosek/ic-phoenix.svg', alt: "" %>
          </div>
        </div><!-- /.row -->
      </div>
      <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
          <p class="fs-6 text-center">
            We maintain a high level of engineering culture in the team and  constantly integrating
            latest and most relevant tools to improve workflow
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row about-stats">
        <div class="col-12 offset-0 py-5 py-lg-0 col-lg-3 offset-lg-2 offset-xl-3 justify-content-center justify-content-lg-start">
          <p class="align-items-baseline align-items-lg-end">
            <span class="h2">5.0</span>
            <strong class="h5 mb-0"><u>Clutch</u> rating</strong>
          </p>
        </div>
        <div class="col-lg-5 py-5 py-lg-0 justify-content-center justify-content-lg-start">
          <p class="align-items-baseline align-items-lg-end">
            <span class="h2">70M +</span>
            <strong class="h5 mb-0">
              records may contain
              <br>
              databases we operate
            </strong>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="about-community">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Community
          </h2>
          <p class="fs-6">
            Kolosek is an open source software company. This means that those services we don’t offer within the company, we develop and share openly. We, too, use open source projects and in most cases, we try to improve their current versions and give back to both contributors and the community.
            <br>
            <br>
            We also unselfishly help nearby conferentions, ideas and movements as well as students and teaching facilities (e.g. <a href="#">Rails Girls</a>).
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 d-flex d-lg-block">
          <%= image_tag 'kolosek/community-1.jpg', class: 'img-fluid', alt: "" %>
          <%= image_tag 'kolosek/community-2.jpg', class: 'img-fluid', alt: "" %>
          <%= image_tag 'kolosek/community-3.jpg', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->
