<header id="header" class="header-alt">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'kolosek/logo-white.svg', class: 'logo', alt: "" %>
      </a>
      <button class="navbar-toggler navbar-dark bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/featured">Featured projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pe-0" href="/contact">Get in Touch</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- /nav -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10">
        <h1>
          So, let's provide your customers with an <span>inspiring</span> product experience
        </h1>
        <p>
          State-of-the-art front-end & back-end systems
        </p>
        <a href="/contact" class="btn btn-outline-secondary btn-outline-secondary-alt" data-text="Start your Project">Start your Project</a>
      </div>
    </div><!-- /.row -->
  </div>
</header><!-- /#header -->

<main class="portfolio">
  <section class="home-ux portfolio-ux">
    <h2 class="text-center h1">
      Quality code which will be presented
      <br>
      through excellent UX
    </h2>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <p class="text-center fs-5">
            Our competence in custom software development has helped launch
            <br>
            multiple successful startup companies around the world
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="about-stats portfolio-stats">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-2 offset-xl-1 mb-5 mb-xl-0 justify-content-center justify-content-mb-start">
          <p>
            <span class="h2">11</span>
            <strong class="h5 mb-0">years</strong>
          </p>
        </div>
        <div class="col-12 col-xl-2 mb-5 mb-xl-0 py-4 py-xl-0 justify-content-center justify-content-mb-start">
          <p>
            <span class="h2">30</span>
            <strong class="h5 mb-0">employes</strong>
          </p>
        </div>
        <div class="col-12 col-xl-3 justify-content-center pt-4 pt-xl-0 mb-5 mb-xl-0">
          <p>
            <span class="h2">8+</span>
            <strong class="h5 mb-0">
              years longevity
              <br>
              of support
            </strong>
          </p>
        </div>
        <div class="col-12 col-xl-3 pt-4 pt-xl-0 justify-content-center">
          <p>
            <span class="h2">1-2</span>
            <strong class="h5 mb-0">
              products/year gets
              <br>
              to Series A funding
            </strong>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-intro portfolio-intro">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center h2 mb-5">
            Creative software solutions that work
          </h2>
          <p class="text-center fs-5 mb-5 mb-lg-12">
            Together we can create a winning product that will transform it's users’ day-to-day live for the good
            <br class="d-none d-md-block">
            Or simplify your business processes & reduce expenses
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="card d-block mb-5 mb-lg-0">
            <%= image_tag 'kolosek/ic-web.svg', alt: "" %>
            <div class="card-body">
              <h3 class="h4 card-title">Web Development</h3>
              <p class="card-text">
                Our developers and designers are there to find the best and the most creative solutions for you  and help you end up with a reliable product and user experience
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-mobile.svg', alt: "" %>
            <h3 class="h4 card-title">Custom Mobile Apps</h3>
            <p class="card-text">
              Mobile apps are timeless. With their number constantly rising, we make sure to deliver an amazing experience combined with high performance across multiple platforms
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-ux.svg', alt: "" %>
            <h3 class="h4 card-title highlight">User Experience</h3>
            <p class="card-text">
              A good user experience should speak to the end user's emotions. Why? Because it's your user's perception of the product that is going to set you apart from all the other apps out there and your competition
            </p>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-product portfolio-product">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center h2">
            Round-the-clock care for your products
          </h2>
          <p class="text-center fs-5 text-black-50">
            We always know what is ongoing and have a good advice
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= image_tag 'kolosek/product-care-portfolio.png', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured home-featured-our portfolio-featured-our">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            In-house projects
          </h2>
          <p class="text-center fs-5">
            We are continuously creating new solutions that transform the way you work
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-ruby-ci.png', class: 'img-fluid', alt: "" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Ruby.ci</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Best CI platform for your Rails application</h4>
            <p class="card-text">
              2-min setup with no extra code, tools & UI built for your Ruby on Rails Application
              <br><br>
              Most complex code for best user experience
              Combining Elixir, Ruby and React
            </p>
            <a href="https://ruby.ci" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Sniffler</h3>
              <div class="project-services-icons"> >
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">The most attentive code reviewer</h4>
            <p class="card-text">
              When a GitHub pull request is opened or updated Sniffler simply integrates with your workflow
              <br><br>
              Sniffler scans and reports errors with your code and helps you fix them whenever possible
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-sniffler.png', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-git-puller.jpg', class: 'img-fluid', alt: "" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">GitPuller</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-design.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Pull request manager </h4>
            <p class="card-text">
              Get the complete transparency in your product development process without risking access to Intelectual Property
              <br><br>
              GitPuller does not require actual access to the code on Github
            </p>
            <a href="#" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-featured portfolio-featured">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2">
            Featured
          </h2>
          <p class="text-center fs-5">
            We have handpicked a few projects to showcase our multifaceted expertise
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">The Next Closet</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Marketplace</h4>
            <p class="card-text">
              The largest marketplace for second hand designer brands in Netherlands
              <br>
              <br>
              Building and maintaining web and mobile app with millions of visitors per month
            </p>
            <a href="https://thenextcloset.com" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-next-closet.png', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-oschool.png', class: 'img-fluid', alt: "" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">O.school</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Educational platform</h4>
            <p class="card-text">
              Judgment-free, science-based sexual wellness platform · Initial product planning and execution · A virtual classroom app, based on live streaming technology and moderated chat · Featured on Techcrunch
            </p>
            <a href="https://www.o.school/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">MoviePilot</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Your guide to films & cinemas</h4>
            <p class="card-text">
              Alternative of IMDB for Germany speaking market with huge number of visitors
              <br><br>
              We are sole technology partner using Ruby
              on Rails and React for several years
            </p>
            <a href="https://www.moviepilot.de/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-movie-pilot.png', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-boardspan.png', class: 'img-fluid', alt: "" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">Boardspan</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Governance application</h4>
            <p class="card-text">
              One of the leaders in data analytics, board governance and recruiting to help boards do their best work
              <br><br>
              Being only technology partner for 5+ years and in charge of whole tech stack including API and cross-platform solution
              <br><br>
              Maintaining good quality with ~95% test coverage
              <br>
              Raised angel and 2 rounds of VC funding
            </p>
            <a href="https://boardspan.com/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row home-featured-row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="d-flex align-items-center">
              <h3 class="card-title">WRAP</h3>
              <div class="project-services-icons">
                <%= image_tag 'kolosek/ic-research.svg', alt: "" %>
                <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
              </div>
            </div>
            <h4 class="h5">Mobile engagement technology</h4>
            <p class="card-text">
              Tell your story, provide service, or sell products right in the messaging feed. All with no programming, no waiting, and no apps to download
              <br><br>
              The Wrap was a big startup that raised Series B funding. At the time we were working together, Kolosek team had a chance to partner up with around 100 people from the San Francisco office
            </p>
            <a href="https://www.wrap.co/" class="btn btn-outline-primary btn-outline-secondary btn-sm" target="_blank" data-text="Check out">
              <span>
                Check out
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <%= image_tag 'kolosek/featured-wrap.png', class: 'img-fluid', alt: "" %>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="home-tabbed portfolio-tabbed">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2 mb-5">
            Prioritizing privacy & security
          </h2>
          <p class="text-center fs-6">
            We believe in process driven development & privacy of the data
            <br>
            <strong>ISO 9001:2013, ISO 27001:2013 USA certification</strong>
          </p>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="partners home-partners portfolio-partners">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            TRUSTED BY
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#"><%= image_tag 'kolosek/logo-closet.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-boardspan.png', class: 'img-fluid', alt: "" %><</a>
          <a href="#"><%= image_tag 'kolosek/logo-squire.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-simone-leblanc.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-listium.png', class: 'img-fluid', alt: "" %></a>
          <a href="#" class="d-md-none"><%= image_tag 'kolosek/logo-oschool.png', class: 'img-fluid', alt: "" %></a>
        </div>
        <div class="col-12">
          <a href="#" class="d-none d-md-flex"><%= image_tag 'kolosek/logo-oschool.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-movie-pilot.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-wrap.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-ruby-ci.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-versa-commerce.png', class: 'img-fluid', alt: "" %></a>
          <a href="#"><%= image_tag 'kolosek/logo-style-myle.png', class: 'img-fluid', alt: "" %></a>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
          <h2 class="text-center h1">
            Get in touch
          </h2>
          <div class='wf-parent'>
            <div class='wf-wrapper' id='BiginWebToRecordFormDiv362158000000724315'>
            <meta name='viewport' content='width=device-width, initial-scale=1.0'>
            <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
            <form id='BiginWebToRecordForm362158000000724315' name='BiginWebToRecordForm362158000000724315' data-ux-form-alignment='top' method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return validateForm362158000000724315()' accept-charset='UTF-8'>
            <!-- Do not remove this code. -->
              <input type='text' style='display:none;' name='xnQsjsdp' value='6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b'/>
              <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
              <input type='text' style='display:none;' name='xmIwtLD' value='c938b3760cef79fa104a6d95db5ac1e68fedd17ff2187bcdd541d6cc177e765d'/>
              <input type='text' style='display:none;' name='actionType' value='UG90ZW50aWFscw=='/>
              <input type='text' style='display:none;' name='returnURL' value='null' />
              <div id='elementDiv362158000000724315' class='wf-form-wrapper'>
              <div>
                <label for="Contacts.First Name" class="form-label">First Name</label>
                <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
                <div class='wf-field-inner'>
                <input name='Contacts.First Name' maxlength='40' type='text' value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 6px;" />
                <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              </div>
              <div>
                <label for="Contacts.Last Name" class="form-label">Last Name</label>
                <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
                <div class='wf-field-inner'>
                <input name='Contacts.Last Name' maxlength='40' type='text' value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 6px;"/>
                <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              </div>

              <div>
                <label for="Contacts.Email" class="form-label">Email</label>
                <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
                <div class='wf-field-inner'>
                <input fvalidate='true' ftype='email' name='Contacts.Email' maxlength='100' type='text' value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 6px;"/>
                <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              </div>
              <div>
                <label for="Potential Name" class="form-label">Subject</label>
                <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
                <div class='wf-field-inner'>
                <input name='Potential Name' maxlength='120' type='text' value='' class='form-control' oninput='removeError(this)' style="margin-bottom: 6px;"/>
                <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              </div>

              <div>
                <label for="Potential Name" class="form-label">Description</label>
                <div class='wf-field wf-field-mandatory' style="color: red; margin-bottom: 5px;">
                <div class='wf-field-inner'>
                <textarea name='Contacts.Description' maxlength='32000' type='text' class='form-control' style='resize: none; margin-bottom: 6px;' oninput='removeError(this)'></textarea>
                <div class='wf-field-help-text'>
              </div>
              </div>
              </div>
              </div>
           
              <div class='wf-row wf-btn-row'>
              <div class='wf-label' data-ux-empty-label='true'></div>
              <div class=" d-flex">
                <input id='formsubmit' type='submit' class='btn btn-primary mx-auto' style='margin-top: 40px;' value='Start your Project'/>
              </div>
              <p class="text-center" style="margin-top: 25px;">
                By clicking "Start your Project" you agree to the Privacy Policy and Terms of Use
              </p>
              </div>
            </div>
            </form>
            </div>
            </div>
            <script>
               var mndFileds=new Array('Contacts.First\x20Name','Contacts.Last\x20Name','Contacts.Email','Potential\x20Name','Contacts.Description');
               var fldLangVal=new Array('First\x20Name','Last\x20Name','Email','Subject','Description');
              var wfInnerWidth = window.innerWidth;
              if(wfInnerWidth <= 768){
              document.forms['BiginWebToRecordForm362158000000724315'].setAttribute('data-ux-form-alignment', 'top');
              }
            var name='';
            var email='';
              function removeError(fieldObj) {
              var parentElement = fieldObj.parentElement.parentElement,
              childEle = parentElement.getElementsByClassName('wf-field-error')[0];
              if(childEle) {
              parentElement.classList.remove('wf-field-error-active');
              parentElement.removeChild(parentElement.getElementsByClassName('wf-field-error')[0]);
              }
              }
              function setError(fieldObj, label) {
              var parentElement = fieldObj.parentElement.parentElement,
              childEle = parentElement.getElementsByClassName('wf-field-error')[0];
              if(!childEle) {
              var spanEle = document.createElement('SPAN');
              spanEle.setAttribute('class', 'wf-field-error');
              spanEle.innerHTML = label;
              parentElement.append(spanEle);
              parentElement.classList.add('wf-field-error-active');
              }
              }
              function validateFields362158000000724315() {
              var isReturn = true;
              var form = document.forms['BiginWebToRecordForm362158000000724315'];
              var validateFld = form.querySelectorAll('[fvalidate=true]');
              var i;
              for (i = 0; i < validateFld.length; i++)
              {
              var validateFldVal = validateFld[i].value;
              if(validateFldVal !== '') {
              var fLabel = validateFld[i].parentElement.parentElement.parentElement.getElementsByClassName('wf-label')[0].innerHTML;
              switch(validateFld[i].getAttribute('ftype')) {
              case 'email':
              if(validateFldVal.match(/^([A-Za-z0-9._%-'+/]+@[A-Za-z0-9.-]+.[a-zA-Z]{2,22})$/) === null) {
              setError(validateFld[i], 'Enter valid ' + fLabel);
              isReturn = false;
              }
              break;
              case 'number':
              if(validateFldVal.match(/^[0-9]+$/) === null) {
              setError(validateFld[i], 'Enter valid ' + fLabel);
              isReturn = false;
              }
              break;
              case 'mobile':
              if(validateFldVal.match(/^[0-9a-zA-Z+.()\-;\s]+$/) === null) {
              setError(validateFld[i], 'Enter valid ' + fLabel);
              isReturn = false;
              }
              break;
              }
              }
              }
              return isReturn;
            }

            function checkMandatory362158000000724315() {
            var isReturn = true;
            for(i=0;i<mndFileds.length;i++) {
             var fieldObj=document.forms['BiginWebToRecordForm362158000000724315'][mndFileds[i]];
             if(fieldObj) {
            if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
            if(fieldObj.type =='file')
            {
            setError(fieldObj, 'Please select a file to upload.');
            isReturn = false;
            }
            setError(fieldObj, fldLangVal[i] + ' cannot be empty');
            isReturn= false;
            }  else if(fieldObj.nodeName=='SELECT') {
            if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
            setError(fieldObj, fldLangVal[i] +' cannot be none.');
            isReturn = false;
              }
            } else if(fieldObj.type =='checkbox'){
              if(fieldObj.checked == false){
            setError(fieldObj, 'Please accept  '+fldLangVal[i]);
            isReturn= false;
            }
            }
            try {
                if(fieldObj.name == 'Last Name') {
            name = fieldObj.value;
                 }
            } catch (e) {}
               }
            }
            if(!validateFields362158000000724315()){isReturn = false;}
            if(!isReturn){
            var errEle = document.getElementsByClassName('wf-field-error');
            if(errEle && errEle.length >0){
            var inputEle = errEle[0].parentElement.getElementsByTagName('input');
            if(inputEle && inputEle.length == 0) {
            inputEle = errEle[0].parentElement.getElementsByTagName('select');
            }
            if(inputEle && inputEle.length > 0) {
            inputEle[0].focus();
            }
            }
            }
            return isReturn;
            }

             
            </script>
              <script id='wf_script' src='https://bigin.zoho.eu/crm/WebformScriptServlet?rid=c938b3760cef79fa104a6d95db5ac1e68fedd17ff2187bcdd541d6cc177e765dgid6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b'></script>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->

 <footer id="footer" class="footer-alt">
  <div class="container">
    <h5 class="h2"><span>Just make it happen.</span></h5>
    <div class="row text-center text-md-start">
      <div class="col-12 col-md-5 offset-md-1 col-lg-4 offset-lg-2 col-xl-3 offset-xl-3 mb-5 mb-md-0">
        <p>
          <span>Say hello at:</span>
          <br>
          <a href="mailto:hello@kolosek.com"><%= image_tag 'kolosek/ic-mail.svg', alt: "" %> hello@kolosek.com</a>
          <a href="#" class="btn btn-outline-secondary btn-outline-secondary-alt mx-auto ms-md-0 me-md-0" data-text="Schedule a meeting">Schedule a meeting</a>
        </p>
      </div>
      <div class="col-12 col-md-5 col-lg-4 col-xl-4">
        <p>
          &nbsp;
          <br>
          <%= image_tag 'kolosek/ic-home.svg', alt: "" %> Novi Sad, Serbia, Europe
          <a href="https://kolosek.com/" class="btn btn-outline-secondary-alt mx-auto ms-md-0 me-md-0" data-text="Kolosek.com">
            Kolosek.com
          </a>
        </p>
      </div>
    </div><!-- /.row -->
    <div class="row row-copyright">
      <div class="col-12 col-md-4 text-center text-md-start py-2 py-md-0">
        2026  © All rights reserved
      </div>
      <div class="col-12 col-md-4 d-md-flex justify-content-md-center text-center text-md-start py-2 py-md-0">
        <a href="https://github.com/kolosek" target="_blank"><%= image_tag 'kolosek/ic-git.svg', alt: "" %></a>
        <a href="https://www.facebook.com/Kolosekcom/" target="_blank"><%= image_tag 'kolosek/ic-facebook.svg', alt: "" %></a>
        <a href="https://www.instagram.com/kolosekcom/?hl=en" target="_blank"><%= image_tag 'kolosek/ic-instagram.svg', alt: "" %></a>
        <a href="https://twitter.com/kolosekcom" target="_blank"><%= image_tag 'kolosek/ic-twitter.svg', alt: "" %></a>
        <a href="https://rs.linkedin.com/company/kolosek-it" target="_blank"><%= image_tag 'kolosek/ic-linkedin.svg', alt: "" %></a>
      </div>
      <div class="col-12 col-md-4 d-md-flex justify-content-md-end text-center text-md-start py-2 py-md-0">
        Made by&nbsp;<a href="https://www.kolosek.com">Kolosek</a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /#footer -->