<main>
  <section id="hero-section" class="relative px-6 pt-14 lg:px-8 opacity-0 animate-fade-in">
    <div class="mx-auto max-w-4xl py-16 sm:pt-24">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="animate-background rounded-full bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] px-px py-1 [animation-duration:_6s]">
          <a href="https://app.litetracker.com/" class="relative rounded-full bg-white px-3 py-1.5 text-sm/6 text-gray-600">
            <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 inset-ring inset-ring-green-600/20">NEW</span>
            <span class="pl-2">Automatic import from Jira, Trello, and many more  (08/2025)</span>
          </a>
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-5xl font-medium tracking-tight text-balance text-gray-900 sm:text-7xl">The most complete Pivotal Tracker successor*</h1>
        <p class="mt-8 mx-auto max-w-2xl text-subheading">Packed with features we all love. Easy 1 minute transfer and complementary onboarding when you book a call.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="https://app.litetracker.com" class="rounded-xl bg-black px-5 py-3 text-base font-semibold text-white shadow-xs hover:bg-black/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black/80">Get started &rightarrow;</a>
          <a href="#" class="rounded-xl border border-gray-200 px-5 py-3 shadow-xs text-base font-semibold text-gray-900 hover:bg-gray-100">Learn more <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
    <div class="max-w-7xl min-w-auto mx-auto flex justify-center pb-6">
      <div class="relative">
        <%= image_tag 'litetracker/hero-image.avif', width: "2880", height: "1606", class: "w-full h-full rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10 object-cover object-[left_center]" %>
        <p class="absolute -bottom-10 w-full text-center text-base font-medium text-gray-500">Trusted by the ex Pivots and thousands of users</p>
      </div>
    </div>
  </section>

  <section id="features-section" class="relative px-6 pt-14 lg:px-8">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24 flex items-center flex-col justify-start gap-y-24 w-full">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 justify-center w-full text-center">
        <div class="flex items-center justify-center text-blue-dark text-xs">
          <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"/>
          </svg>
          <p class="pl-1 font-bold">Seamless collaboration</p>
        </div>
        <h3 class="text-heading">
          Most Features We Loved in Pivotal Tracker
        </h3>
        <p class="text-subheading">Features</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 justify-center gap-10">
        <!-- card 1 -->
        <div class="w-full">
          <div class="flex flex-col gap-y-8">
            <div class="rounded-4xl shadow-xl bg-white h-100">
              <%= image_tag 'litetracker/feature-story-details.avif', class: "rounded-4xl w-full h-full object-center object-contain", alt: '' %>
            </div>
            <div class="flex flex-col gap-4 w-full text-sm">
              <div class="flex flex-col gap-2">
                <p class="text-[#020a0f] font-medium">Story details</p>
                <p class="text-[#47474f] font-normal">Manage requesters, owners, reviews. Chnage story type and add points on the fly.</p>
              </div>
              <a href="/pricing.html" class="flex items-center text-black font-semibold">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- card 2 -->
        <div class="w-full">
          <div class="flex flex-col gap-y-8">
            <div class="rounded-4xl shadow-xl bg-white h-100">
              <%= image_tag 'litetracker/feature-manage-stories.avif', class: "rounded-4xl w-full h-full object-center object-contain", alt: '' %>
            </div>
            <div class="flex flex-col gap-4 w-full text-sm">
              <div class="flex flex-col gap-2">
                <p class="text-[#020a0f] font-medium">Manage stories</p>
                <p class="text-[#47474f] font-normal">The backlog contains prioritized tasks, while the icebox is used for ideas or tasks that are not currently a priority.</p>
              </div>
              <a href="/pricing.html" class="flex items-center text-black font-semibold">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- card 3 -->
        <div class="w-full">
          <div class="flex flex-col gap-y-8">
            <div class="rounded-4xl shadow-xl bg-white h-100">
              <%= image_tag 'litetracker/feature-instant-feedback.avif', class: "rounded-4xl w-full h-full object-center object-contain", alt: '' %>
            </div>
            <div class="flex flex-col gap-4 w-full text-sm">
              <div class="flex flex-col gap-2">
                <p class="text-[#020a0f] font-medium">Instant feedback</p>
                <p class="text-[#47474f] font-normal">Get notifications as soon as they occur. In email and in-app notifications.</p>
              </div>
              <a href="/pricing.html" class="flex items-center text-black font-semibold">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features-epics-section" class="relative px-6 pt-14 lg:px-8">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:content-start">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-orange font-semibold text-sm">
                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <rect x="4" y="5" width="16" height="16" rx="2" />
                  <line x1="16" y1="3" x2="16" y2="7" />
                  <line x1="8" y1="3" x2="8" y2="7" />
                  <line x1="4" y1="11" x2="20" y2="11" />
                  <rect x="8" y="15" width="2" height="2" />
                </svg>
                Manage your Epics
              </p>
              <p class="text-heading tracking-tight text-black">Effective Planning</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Built-in velocity tracking was a favorite, using Fibonacci-scale story points to calculate team capacity as a rolling average (e.g., over the last four sprints).
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/pricing.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0">
                <%= image_tag 'litetracker/features-epics.avif', class: "w-full rounded-4xl", alt: '' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features-notification-section" class="relative px-6 pt-14 lg:px-8">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:content-start">
          <div class="flex flex-col gap-10 px-6 lg:px-0 order-last">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-purple font-semibold text-sm">
                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <rect x="3" y="12" width="6" height="8" rx="1" />
                  <rect x="9" y="8" width="6" height="12" rx="1" />
                  <rect x="15" y="4" width="6" height="16" rx="1" />
                  <line x1="4" y1="20" x2="18" y2="20" />
                </svg>
                Easy notification
              </p>
              <p class="text-heading tracking-tight text-black">Collaboration and Team Alignment</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Bringing distributed teams together for real-time visibility, priority agreement, and focused collaboration
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/pricing.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0">
                <%= image_tag 'litetracker/features-notifications.avif', class: "w-full rounded-4xl", alt: '' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-spacer">
    <div class="w-full h-60"></div>
  </section>

  <!-- to do - need bento grid template -->
  <section id="features-empower-workflow" class="relative px-6 pt-14 lg:px-8 bg-[#f6f6f8] shadow-[inset_0_2px_4px_-3px_#0003,inset_0_-2px_4px_-3px_#0003]">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24 flex items-center flex-col justify-start gap-y-24 w-full">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 justify-center w-full text-center">
        <div class="flex items-center justify-center text-green-dark text-xs">
          <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
          </svg>
          <p class="pl-1 font-bold">Features</p>
        </div>
        <h3 class="text-heading">
          Features designed to empower your workflow
        </h3>
        <p class="text-base font-normal text-gray-500 sm:text-lg/8">Stay ahead with tools that prioritize your needs, integrating insights and efficiency into one powerful platform.</p>
      </div>
    </div>
  </section>

  <section class="section-spacer">
    <div class="w-full h-60"></div>
  </section>

  <section id="features-power-up" class="relative px-6 lg:px-8">
    <div class="relative mx-auto max-w-4xl pb-16 sm:pb-24 flex items-center flex-col justify-start gap-y-24 w-full">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 justify-center w-full text-center">
        <div class="flex items-center justify-center text-green-dark text-xs">
          <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
          </svg>
          <p class="pl-1 font-bold">Features</p>
        </div>
        <h3 class="text-heading">
          Power-up for agile teams
        </h3>
        <p class="text-base font-normal text-gray-500 sm:text-lg/8">Explore the comprehensive suite of tools designed to enhance your productivity and streamline your workflow.</p>
      </div>
      <div class="group flex flex-col gap-16">
        <div class="bg-[#FAFAFA] sm:h-16 py-1 px-2 sm:px-1 w-full flex flex-col sm:flex-row items-start sm:items-center rounded-4xl border border-[#E6E6EB]">
          <input type="radio" id="iteration-planning" name="selected_feature" class="peer/iteration-planning iteration-planning sr-only" checked>
          <label for="iteration-planning" class="w-full sm:w-0 flex items-center justify-start sm:justify-center flex-grow gap-2 h-12 p-4 cursor-pointer font-medium text-sm text-[#50565d] rounded-4xl peer-checked/iteration-planning:border peer-checked/iteration-planning:text-[#020a0f] peer-checked/iteration-planning:bg-white peer-checked/iteration-planning:border-[#E6E6EB]">
            <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <rect x="4" y="5" width="16" height="16" rx="2" />
              <line x1="16" y1="3" x2="16" y2="7" />
              <line x1="8" y1="3" x2="8" y2="7" />
              <line x1="4" y1="11" x2="20" y2="11" />
              <rect x="8" y="15" width="2" height="2" />
            </svg>
            <span>Iteration Planning</span>
          </label>
          <input type="radio" id="easy-organization" name="selected_feature" class="peer/easy-organization easy-organization sr-only">
          <label for="easy-organization" class="w-full sm:w-0 flex items-center justify-start sm:justify-center flex-grow gap-2 h-12 p-4 cursor-pointer font-medium text-sm text-[#50565d] rounded-4xl peer-checked/easy-organization:border peer-checked/easy-organization:text-[#020a0f] peer-checked/easy-organization:bg-white peer-checked/easy-organization:border-[#E6E6EB]">
            <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <rect x="3" y="12" width="6" height="8" rx="1" />
              <rect x="9" y="8" width="6" height="12" rx="1" />
              <rect x="15" y="4" width="6" height="16" rx="1" />
              <line x1="4" y1="20" x2="18" y2="20" />
            </svg>
            <span>Easy organization</span>
          </label>
          <input type="radio" id="seamless-integration" name="selected_feature" class="peer/seamless-integration seamless-integration sr-only">
          <label for="seamless-integration" class="w-full sm:w-0 flex items-center justify-start sm:justify-center flex-grow gap-2 h-12 p-4 cursor-pointer font-medium text-sm text-[#50565d] rounded-4xl peer-checked/seamless-integration:border peer-checked/seamless-integration:text-[#020a0f] peer-checked/seamless-integration:bg-white peer-checked/seamless-integration:border-[#E6E6EB]">
            <svg class="h-4 w-4"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <polygon points="12 2 2 7 12 12 22 7 12 2" />
              <polyline points="2 17 12 22 22 17" />
              <polyline points="2 12 12 17 22 12" />
            </svg>
            <span>Seamless integration</span>
          </label>
          <input type="radio" id="snappy-ui" name="selected_feature" class="peer/snappy-ui snappy-ui sr-only">
          <label for="snappy-ui" class="w-full sm:w-0 flex items-center justify-start sm:justify-center flex-grow gap-2 h-12 p-4 cursor-pointer font-medium text-sm text-[#50565d] rounded-4xl peer-checked/snappy-ui:border peer-checked/snappy-ui:text-[#020a0f] peer-checked/snappy-ui:bg-white peer-checked/snappy-ui:border-[#E6E6EB]">
            <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <rect x="4" y="4" width="6" height="6" rx="1" />
              <line x1="7" y1="17" x2="7" y2="17.01" />
              <rect x="14" y="4" width="6" height="6" rx="1" />
              <line x1="7" y1="7" x2="7" y2="7.01" />
              <rect x="4" y="14" width="6" height="6" rx="1" />
              <line x1="17" y1="7" x2="17" y2="7.01" />
              <line x1="14" y1="14" x2="17" y2="14" />
              <line x1="20" y1="14" x2="20" y2="14.01" />
              <line x1="14" y1="14" x2="14" y2="17" />
              <line x1="14" y1="20" x2="17" y2="20" />
              <line x1="17" y1="17" x2="20" y2="17" />
              <line x1="20" y1="17" x2="20" y2="20" />
            </svg>
            <span>Snappy UI</span>
          </label>
        </div>
        <!-- iteration planning -->
        <div class="grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center hidden group-has-[.iteration-planning:checked]:grid">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-orange font-semibold text-sm">
                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <rect x="4" y="5" width="16" height="16" rx="2" />
                  <line x1="16" y1="3" x2="16" y2="7" />
                  <line x1="8" y1="3" x2="8" y2="7" />
                  <line x1="4" y1="11" x2="20" y2="11" />
                  <rect x="8" y="15" width="2" height="2" />
                </svg>
                Story-Based Iteration Planning
              </p>
              <p class="text-lg font-medium tracking-tight text-black">Stay organized and on track</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Organizes work around user stories, with automatic sprint backlog management. Praised for aligning with Agile methodologies and simplifying prioritization.
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/pricing.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0 shadow-xl rounded-4xl">
                <%= image_tag 'litetracker/iteration-planning.avif', class: "w-full rounded-4xl", alt: '' %>
              </div>
            </div>
          </div>
        </div>  <!-- end iteration planning -->

        <!-- easy organization -->
        <div class="grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center hidden group-has-[.easy-organization:checked]:grid">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-purple font-semibold text-sm">
                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <rect x="3" y="12" width="6" height="8" rx="1" />
                  <rect x="9" y="8" width="6" height="12" rx="1" />
                  <rect x="15" y="4" width="6" height="16" rx="1" />
                  <line x1="4" y1="20" x2="18" y2="20" />
                </svg>
                Epics and Labels
              </p>
              <p class="text-lg font-medium tracking-tight text-black">Manage your epics and labels with ease</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Create new epics and labels on the fly. Manage your stories in epics and achieve high velocity with organized work.
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/pricing.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0 shadow-xl rounded-4xl">
                <%= image_tag 'litetracker/features-epics.avif', class: "w-full rounded-4xl", alt: '' %>
              </div>
            </div>
          </div>
        </div>  <!-- end easy organization -->

        <!-- Seamless integration -->
        <div class="grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center hidden group-has-[.seamless-integration:checked]:grid">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-green-dark font-semibold text-sm">
                <svg class="h-4 w-4"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                  <polygon points="12 2 2 7 12 12 22 7 12 2" />
                  <polyline points="2 17 12 22 22 17" />
                  <polyline points="2 12 12 17 22 12" />
                </svg>
                Seamless integration
              </p>
              <p class="text-lg font-medium tracking-tight text-black">Integrates with your favorite tools</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Enhance productivity, streamline processes, and keep everything connected without disrupting your current setup.
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/pricing.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0 shadow-xl">
                <%= image_tag 'litetracker/seamless-integrations.png', class: "w-full rounded-m", alt: '' %>
              </div>
            </div>
          </div>
        </div>  <!-- end Seamless integration -->

        <!-- Snappy UI -->
        <div class="grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center hidden group-has-[.snappy-ui:checked]:grid">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-blue-dark font-semibold text-sm">
                <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <rect x="4" y="4" width="6" height="6" rx="1" />
                  <line x1="7" y1="17" x2="7" y2="17.01" />
                  <rect x="14" y="4" width="6" height="6" rx="1" />
                  <line x1="7" y1="7" x2="7" y2="7.01" />
                  <rect x="4" y="14" width="6" height="6" rx="1" />
                  <line x1="17" y1="7" x2="17" y2="7.01" />
                  <line x1="14" y1="14" x2="17" y2="14" />
                  <line x1="20" y1="14" x2="20" y2="14.01" />
                  <line x1="14" y1="14" x2="14" y2="17" />
                  <line x1="14" y1="20" x2="17" y2="20" />
                  <line x1="17" y1="17" x2="20" y2="17" />
                  <line x1="20" y1="17" x2="20" y2="20" />
                </svg>
                Snappy UI
              </p>
              <p class="text-lg font-medium tracking-tight text-black">The easy way to write and edit stories</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Featuring a clean, user-friendly interface, it helps you stay organized, prioritize effectively, and collaborate seamlessly with your team.
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/pricing.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Learn more</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0 shadow-xl rounded-4xl">
                <%= image_tag 'litetracker/snappi-ui.avif', class: "w-full rounded-4xl", alt: '' %>
              </div>
            </div>
          </div>
        </div>  <!-- end Snappy UI -->
      </div>
    </div>
  </section>

  <section class="section-spacer">
    <div class="w-full h-60"></div>
  </section>

  <section id="features-integrations" class="relative px-6 pt-14 lg:px-8">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:content-center">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="flex items-center gap-1 text-green-dark font-semibold text-sm">
                <svg class="h-4 w-4"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                  <polygon points="12 2 2 7 12 12 22 7 12 2" />
                  <polyline points="2 17 12 22 22 17" />
                  <polyline points="2 12 12 17 22 12" />
                </svg>
                Integrations
              </p>
              <p class="text-heading tracking-tight text-black">Integrates with your favorite tools</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Enhance productivity, streamline processes, and keep everything connected without disrupting.
                </li>
              </ol>
            </div>
            <div class="h-11 w-fit">
              <a href="/integrations.html" class="flex items-center justify-center rounded-xl h-full pr-4 pl-5 border border-gray-200 text-black font-semibold hover:bg-gray-100">
                <span>Explore integrations</span>
                <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg>
              </a>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0 overflow-hidden">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0">
                <div class="scroll-container w-min">
                  <div class="absolute rounded-[100%] z-30" style="inset: -368px -234px -253px -235px; background: radial-gradient(31.530489856134707% 29.717999881249966% at 49.999988723818106% 51.193062409305725%, #fff0 45.500001311302185%, #fff);"></div>
                  <ul class="scroll-list-up w-21 h-100">
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <!-- duplicate for seamless loop -->
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 6</li>
                  </ul>
                  <ul class="scroll-list-down w-21 h-110">
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <!-- duplicate for seamless loop -->
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                  </ul>
                  <ul class="scroll-list-up w-21 h-125">
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <!-- duplicate for seamless loop -->
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                  </ul>
                  <ul class="scroll-list-down w-21 h-112">
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <!-- duplicate for seamless loop -->
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                    <li>Logo 1</li>
                    <li>Logo 2</li>
                    <li>Logo 3</li>
                    <li>Logo 4</li>
                    <li>Logo 5</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features-download-apps">
    <div class="mx-auto max-w-7xl py-16 sm:py-24">
      <div class="grid grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center">
        <div class="flex flex-col gap-10 px-6 lg:px-0 order-last">
          <div class="flex flex-col gap-4">
            <p class="flex items-center gap-1 text-green-dark font-semibold text-sm">
              <svg class="h-4 w-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                <polyline points="7 11 12 16 17 11" />
                <line x1="12" y1="4" x2="12" y2="16" />
              </svg>
              Download apps
            </p>
            <p class="text-heading tracking-tight text-black">Designed to work seamlessly anywhere</p>
            <ol class="space-y-3">
              <li class="text-subheading flex items-start">
                Our app keeps you in touch and in control, giving you access to our services anytime, anywhere.
              </li>
            </ol>
          </div>
          <div class="h-11 w-fit">
            <a href="/pricing.html" class="flex items-center opacity-100 justify-center rounded-xl h-full pr-4 pl-5 font-semibold text-white bg-black hover:bg-gray-800 shadow-[rgba(0,0,0,0.25)_0px_1px_4px_0px]">
              <span>Download now</span>
              <svg class="h-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <polyline points="9 6 15 12 9 18" />
              </svg>
            </a>
          </div>
        </div>
        <div class="sm:px-6 lg:px-0">
          <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
            <div class="relative mx-auto w-full sm:mx-0">
              <%= image_tag 'litetracker/feature-download-apps.avif', class: "w-full", alt: '' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="testimonials-section" class="relative px-6 pt-14 lg:px-8 bg-[#f6f6f8] shadow-[inset_0_2px_4px_-3px_#0003,inset_0_-2px_4px_-3px_#0003]">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24 flex flex-col items-center gap-y-24">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 text-center">
        <div class="flex items-center justify-center text-green-dark text-xs">
          <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"/>
          </svg>
          <p class="pl-1 font-bold">Testimonials</p>
        </div>
        <h3 class="text-heading">Trusted by established companies</h3>
        <p class="text-base font-normal text-gray-500 sm:text-lg">
          Find out why our solution is the top choice for PivotalTracker users
        </p>
      </div>
      <div id="reviews" class="w-full">
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6">
          <div class="break-inside-avoid p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
            <p class="text-sm mb-8 text-[#47474f]">“Of all the PT-alternatives I've been checking out, yours is the first that has given me the chance for a real hand-on with a viable alternative”</p>
            <div class="text-13 flex items-center gap-4">
              <span class="w-8 h-8 rounded-full flex items-center justify-center">
                <svg class="w-full h-full rounded-full" xmlns="http://www.w3.org/2000/svg" width="126" height="126">
                  <path id="a" d="M126 0v21.584L21.584 126H0v-17.585L108.415 0H126Zm0 108.414V126h-17.586L126 108.414Zm0-84v39.171L63.585 126H24.414L126 24.414Zm0 42v39.17L105.584 126h-39.17L126 66.414ZM105.586 0 0 105.586V66.415L66.415 0h39.171Zm-42 0L0 63.586V24.415L24.415 0h39.171Zm-42 0L0 21.586V0h21.586Z" fill="rgb(136, 136, 136, 0.2)" fill-rule="evenodd"/>
                </svg>
              </span>
              <div>
                <h6 class="font-medium text-gray-700">Paul Gallagher</h6>
                <p class="text-light-gray">Founder, Eventis</p>
              </div>
            </div>
          </div>
          <div class="break-inside-avoid p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
            <p class="text-sm mb-8 text-[#47474f]">“So far Litetracker is my favourite potential successor.”</p>
            <div class="text-13 flex items-center gap-4">
              <span class="w-8 h-8 rounded-full flex items-center justify-center">
                <svg class="w-full h-full rounded-full" xmlns="http://www.w3.org/2000/svg" width="126" height="126">
                  <path id="a" d="M126 0v21.584L21.584 126H0v-17.585L108.415 0H126Zm0 108.414V126h-17.586L126 108.414Zm0-84v39.171L63.585 126H24.414L126 24.414Zm0 42v39.17L105.584 126h-39.17L126 66.414ZM105.586 0 0 105.586V66.415L66.415 0h39.171Zm-42 0L0 63.586V24.415L24.415 0h39.171Zm-42 0L0 21.586V0h21.586Z" fill="rgb(136, 136, 136, 0.2)" fill-rule="evenodd"/>
                </svg>
              </span>
              <div>
                <h6 class="font-medium text-gray-700">Jevon Wright</h6>
                <p class="text-light-gray">Developer, Adaptory</p>
              </div>
            </div>
          </div>

          <div class="break-inside-avoid p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
            <p class="text-sm mb-8 text-[#47474f]">“This has all the features that I wanted in initial realse. Looking forward for more."</p>
            <div class="text-13 flex items-center gap-4">
              <span class="w-8 h-8 rounded-full flex items-center justify-center">
                <svg class="w-full h-full rounded-full" xmlns="http://www.w3.org/2000/svg" width="126" height="126">
                  <path id="a" d="M126 0v21.584L21.584 126H0v-17.585L108.415 0H126Zm0 108.414V126h-17.586L126 108.414Zm0-84v39.171L63.585 126H24.414L126 24.414Zm0 42v39.17L105.584 126h-39.17L126 66.414ZM105.586 0 0 105.586V66.415L66.415 0h39.171Zm-42 0L0 63.586V24.415L24.415 0h39.171Zm-42 0L0 21.586V0h21.586Z" fill="rgb(136, 136, 136, 0.2)" fill-rule="evenodd"/>
                </svg>
              </span>
              <div>
                <h6 class="font-medium text-gray-700">William Sela</h6>
                <p class="text-light-gray">Head of Product, HJI</p>
              </div>
            </div>
          </div>

          <div class="break-inside-avoid p-8 border border-gray-100 rounded-3xl bg-white shadow-2xl shadow-gray-600/10">
            <p class="text-sm mb-8 text-[#47474f]">“The experience is really snappy. Very close to original Pivotal Tracker experience.”</p>
            <div class="text-13 flex items-center gap-4">
              <span class="w-8 h-8 rounded-full flex items-center justify-center">
                <svg class="w-full h-full rounded-full" xmlns="http://www.w3.org/2000/svg" width="126" height="126">
                  <path id="a" d="M126 0v21.584L21.584 126H0v-17.585L108.415 0H126Zm0 108.414V126h-17.586L126 108.414Zm0-84v39.171L63.585 126H24.414L126 24.414Zm0 42v39.17L105.584 126h-39.17L126 66.414ZM105.586 0 0 105.586V66.415L66.415 0h39.171Zm-42 0L0 63.586V24.415L24.415 0h39.171Zm-42 0L0 21.586V0h21.586Z" fill="rgb(136, 136, 136, 0.2)" fill-rule="evenodd"/>
                </svg>
              </span>
              <div>
                <h6 class="font-medium text-gray-700">Ant Wilson</h6>
                <p class="text-light-gray">Developer, Supadb</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render "litetracker/sections/faq" %>

</main>